[2018-12-02 16:15] mrsuau627 opened #15 "ETA on when production ready?"
Hi,

I'm looking to integrate with Cognito using Identity from a C# Web API and this looks like exactly what I need. I see that it's still in development. Is there an estimate on when this will be ready for production?

Thanks!

[2018-12-03 05:14] vector-man commented on #15
I'm also wondering about this. I'm trying to get my web app done within the next few months, and this would really speed up my development time.

[2018-12-03 23:02] assyadh commented on #15
Hi,

While I can not comment on any ETA at this point, most of the critical features are already available in the developer preview.

I am actively working on it at the moment and would love to get any feedback!

Hamza

[2018-12-08 15:32] assyadh commented on #15
Hi mrsuau627,

Thanks for trying to integrate with the lib.

These two constants were removed from one of the dependencies.

There is an open PR to fix the issue. It hasn't been merged to master yet:

https://github.com/aws/aws-aspnet-cognito-identity-provider/commit/f4724d583c000f0807a0ba41bca33ce58c4f0d0c

Can you try to merge that commit until I get that PR approved? You can also pull the PR br

[2018-12-11 01:58] assyadh commented on #15
The issue is fixed now, you can pull master directly.

[2018-12-19 21:37] assyadh commented on #15
Hi,

The package is now available on NuGet and we are open to feedback during the developer preview phase.

https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/

Please let us know what you think about the package!

[2018-12-19 21:37] #15 closed

[2018-12-21 01:41] aussiearef opened #30 "Cannot Resolve CognitoSignInManager"
I have followed the documentation and I have read the sample code(s) multiple times however when I try to create a user I get this error:

InvalidOperationException: Unable to resolve service for type 'Amazon.AspNetCore.Identity.Cognito.CognitoSignInManager`

What I have done is to use:

as well as

But seems that AddCognitoIdentity() does not inject CognitoSignInManager and CogniroUserManager

p.

[2018-12-21 09:36] aussiearef commented on #30
I figured it out myself.
There is a mistake in the documentation provided by AWS. In the example they use:

private readonly CognitoUserManager _usermanager;

Whilst it must be:

private readonly UserManager _usermanager;

I found this by looking at the source code. Dependency Injection is done for UserManager class and not for CognitoUserManager class.

[2018-12-21 09:37] #30 closed

[2018-12-21 11:22] aussiearef opened #31 "Password policy is ignored by SDK"
If I create a User Pool in Cognito and set a loose password policy, then when I sign up a user with a simple password such as 123456, I will get an exception about the password not following the set policy.

However when AddCognitoIdentity is added with options which set the policy, the user can be created with a simple password.

Since the Cognito service is the decider of the password policy the

[2018-12-21 18:21] assyadh commented on #31
Hi,

Thanks for your feedback.

I think I see two different things at play here:

The #1 one is the client side validation which needs to mimic the user pool min/max password length: https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/samples/Samples/Areas/Identity/Pages/Account/Register.cshtml.cs#L50

The #2 one is that we actually retrieve the pool password policy and create

[2018-12-22 04:15] vector-man opened #32 "SignInManager.PasswordSignInAsync Throws OperationCanceledException. Timing out?"
Hello,

I'm integrating Cognito into Piranha CMS (Source: https://github.com/PiranhaCMS/piranha.core), and I get an OperationCanceledException, while using this:

[code]

I'm not positive if it is related to the CMS, but I see nothing in their source or anything else that would cause that exception, so I posted this on your end to see what you think. The sign in line throws,

Full Code  of ISecuri

[2018-12-24 00:04] vector-man commented on #32
So, apparently, this may be a config issue in the debugger. I'll try this solution and see if it helps: https://stackoverflow.com/questions/37474309/timeouts-with-long-running-asp-net-mvc-core-controller-httppost-method

[2018-12-24 15:21] assyadh commented on #32
Hi,

It does sound like an SDK thrown error thrown when the cancellation token is set to canceled.

Closing as this is not directly related to the Cognito provider.

Please reopen if your findings require so.

[2018-12-24 15:21] #32 closed

[2018-12-26 02:53] aussiearef opened #33 "AddCognitoIdentity raises StackOverflow exception"
AddCognitoIdentity is throwing  StackOverflow exception. It was working fine but now it keeps throwing the exception as soon as an application is launched.

If you need a sample code to investigate feel free to use this code (.net core 3 preview with VS 2019 preview)

[Sample Asp.net core](https://github.com/aussiearef/WebAdvert.Web)

[2018-12-26 06:35] assyadh commented on #33
Hi aussiearef@,

Your solution configuration file contains secrets. I would suggest removing them and revoking the app client id/secret key.

Here's a good tool to prevent that may from happening:

https://github.com/awslabs/git-secrets

[2018-12-26 10:04] aussiearef commented on #33
Thanks @assyadh
I removed the secrets.

Update on the issue:
If I run the website using "dotnet run" or in Visual Studio 2019 Preview, I get the StackOverflow exception. However if I run the .exe file of the website, it works fine!
I am trying to get a dump file and see where the issue resides. So far I know that if I remove AddCognitoIdentity there will be no issue

[2018-12-26 11:31] aussiearef commented on #33
Update:
So I have used some debuggers to see where the Stackoverflow is originated form. It turns out that stack overflow happens when a serialization/serialization happens in the AWS SDK.
As you see in the image below there is a cycle detected.

![image](https://user-images.githubusercontent.com/9376717/50444694-c85f2d80-08be-11e9-9585-bd5b984c7103.png)

[2018-12-26 21:38] aussiearef commented on #33
I also ran a profiler and it shows that Identity.Cognito.dll has a self reference that chews up cpu

![image](https://user-images.githubusercontent.com/9376717/50457849-94622780-0913-11e9-932b-ba1de91851e9.png)

[2018-12-27 16:03] assyadh commented on #33
I am currently out of the office. I'll have a look when I'm back early January.

[2019-01-05 10:47] aussiearef opened #34 "Populate session tokens"
Is there any attributes which would return an access token or Id Token for client-side authentication?

[2019-01-07 19:11] assyadh commented on #34
Hi @aussiearef,

Can you explain your use case?

H.

[2019-01-07 19:12] assyadh commented on #31
I am closing this issue, feel free to reopen it if you have more questions.

[2019-01-07 19:12] #31 closed

[2019-01-08 04:54] jmkelly opened #35 "Link to ChangePassword fails because there is no ChangePassword Page in the Sample application"
Title pretty much explains it, but the following line fails just because there is no ChangePassword page / view in the sample app.

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/8cf35a83d69bb05047924071ece4f9f9fe301640/samples/Samples/Areas/Identity/Pages/Account/Login.cshtml.cs#L89

[2019-01-09 15:22] constantin-ursu opened #36 "Installing NuGET package generates an error"
![image](https://user-images.githubusercontent.com/12333848/50908792-5f30fb80-1422-11e9-9be1-35c1f65e7852.png)
any idea how to fix this?

[2019-01-09 15:38] constantin-ursu commented on #36
Fixed by updating the AWS SDK to latest and the NETCore.Setup (separately to 3.3.6). Only after this I was able to add the Cognito Identity Provider NuGET package.

[2019-01-09 15:38] #36 closed

[2019-01-10 17:19] assyadh commented on #35
Hi,

We are working on adding more examples to the sample app.

H

[2019-01-10 18:48] assyadh commented on #33
I am not able to reproduce the issue using your webapp. It works properly in VS2019/.NET Core 3.0 CLI as well as when running the exe directly.

Are you still hitting the issue?

[2019-01-13 22:26] jmkelly opened #37 "How to implement ChangePassword process"
Following on from https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/35, I'm attempting to implement a process for the account status FORCE_CHANGE_PASSWORD..

As far as I can tell, when getting a result from a login of `cognitoResult.RequiresPasswordChange`, the user is not authenticated.  I can't find a way to allow the user to reset their own password when we get in this state.

[2019-01-14 00:31] assyadh commented on #37
Hi,

You can accomplish this by calling:

await _userManager.ChangePasswordAsync()

The user methods ofteb need the user to be already authenticated as they are decoupled with the Identity Provider mechanism.

Please let me know if this fixes the issue.

H

[2019-01-14 17:46] jlwhitfill opened #38 "Register or SignIn - OperationCanceledException: The operation was canceled"
I am trying to implement the this library and have taken the exact samples and simply added my AWS block to the appsetting.Development.json file:

`  "AWS": {
    "Region": "us-east-1",
    "UserPoolClientId": "<my client id>",
    "UserPoolClientSecret": "<my secret>",
    "UserPoolId": "<my user pool id>"
  }`

No matter whether I call CreateAsync or PasswordSignInAsync, after exactly 5 seconds

[2019-01-14 21:37] assyadh commented on #38
Can you try the following:

[2019-01-14 23:06] assyadh commented on #37
There might be a bug in the workflow, I'm currently looking into this. Will let you know asap.

[2019-01-15 22:42] assyadh commented on #37
I have a PR out that should fix the issue, I will let you know when the new package is available on NuGet. Thanks for providing the feedback!

https://github.com/aws/aws-aspnet-cognito-identity-provider/pull/39/files

[2019-01-15 23:09] jlwhitfill commented on #38
Yes, Im running Visual Studio 2017, I have looked at the article and tried everything in it to no avail.  I didnt think it would work because it the cancellation error appears right at 5 seconds, which is not a long running item anyway and doesn't need to have the timeout extended.  Even with the changes the article proposes, using a webconfig or changing the PROGRAM.CS file and the UseKestrel fun

[2019-01-16 19:01] jlwhitfill commented on #38
I now have it functioning, I went into the Nuget Package Manager and had to update one of my packages:

Microsoft.VisualStudio.Web.CodeGeneration.Design to the latest version.

That required me in install a few others with regards to Razor and then once that was all installed it magically started working.

[2019-01-16 19:01] #38 closed

[2019-01-16 20:17] assyadh commented on #37
Hi,

This new version should solve the issue:

https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/0.9.0.1

Closing.

[2019-01-16 20:17] #37 closed

[2019-01-17 03:01] jmkelly commented on #37
Hi H.

Apologies for my slow reply (I had notifications turned off), I can confirm with the new nuget package, I can now implement the ChangePassword funtionality using your suggested `_userManager.ChangePasswordAsync(.....)`.

Thanks very much!

[2019-01-18 18:32] jlwhitfill opened #40 "Issues with SignUpAsync when Cognito is configured for username as the email address"
So after some extensive use of this package for the last few days, I have noticed that when you setup Cognito to use the email address as the username as shown below:

![image](https://user-images.githubusercontent.com/43940326/51403695-7355b680-1b0e-11e9-822c-45f05767269e.png)

I started to have a few issues, one I was able to get around, the other I cannot and am stuck.  In your sample, in the `

[2019-01-18 22:09] assyadh commented on #40
Thank you for reporting the issue, I'll try to reproduce it.

[2019-01-19 16:04] josephd9 opened #41 "User Registration Exception"
Thanks in advanced for helping!

During user registration I am getting an exception, "Operation Cancelled"  right here: var result = await _userManager.CreateAsync(user, Input.Password);

Is it possible I don't have something configured correctly in my user pool? I basically created the pool with all default values except I created a clientAPP. Also, I essentially copied the samples as they were.

[2019-01-19 18:51] josephd9 commented on #41
I discovered two exceptions within the userManager:

'_signInManager.UserManager.Users' threw an exception of type 'System.NotSupportedException'

▶ | Session | '((Microsoft.AspNetCore.Http.DefaultHttpContext)_signInManager.Context).Session' threw an exception of type 'System.InvalidOperationException' | Microsoft.AspNetCore.Http.ISession {System.InvalidOperationException}

[2019-01-20 13:58] shinya-terasaki opened #42 "StackOverflowException during authentication process"
Hello,

It should be related to #33. I'm using ASP.NET Core 2.1.

After a while after login, when I attempted to open a site again, StackOverflowException happens at AuthenticateAsync() in the following method:
[code]
Presumably SignOutAsync() was called during authentication process. AuthenticateAsync() in this method invokes SignOutAsync() again, then it enters infinite loop, eventually StackOve

[2019-01-21 15:36] gopinathrimc commented on #33
I am having the same issue. I am just running the Sample project from here[1] in visual studio 2017 with .netcore 2.2. It runs for while but after a sometime, if i start a new instance from VS i get the stackoverflow exception. Then i have to kill my iis express instance, close the browser instance and restart VS to get it to work again.
@aussiearef where you able to resolve this issue?

[1] https

[2019-01-21 15:44] gopinathrimc commented on #42
I am having the same issue. I am just running the Sample project from here[1] in visual studio 2017 with .netcore 2.2. It runs for while but after a sometime, if i start a new instance from VS i get the stackoverflow exception. Then i have to kill my iis express instance, close the browser instance and restart VS to get it to work again.
@aussiearef where you able to resolve this issue?

[1] https

[2019-01-21 16:21] assyadh commented on #33
Reopening due to additional reports.

[2019-01-21 16:21] assyadh commented on #33
Reopening due to additional reports.

[2019-01-21 16:54] jlwhitfill commented on #42
I too get this error periodically and it is is the cookie as I also delete the cookie and can continue,  its a bug in the library cookie combination that needs to be fixed and I haven't quite zeroed in on the exact process for recreating it, but it has to do with the the Signout routine somehow as that is the only time when I experience it.  I already have a ticket in that the signout is failing f

[2019-01-21 16:59] jlwhitfill commented on #41
IK had this issue about a week ago and posted my solution here:

https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/38

Make sure you go to your Nuget packages and update everything if you are using Core 2.1.  The one I had to upgrade was:

`Microsoft.VisualStudio.Web.CodeGeneration.Design`

It then required me to install or upgrade a couple other packages.  When I did that everyth

[2019-01-21 17:45] josephd9 commented on #41
Thanks for the help! Sadly I have already done that and it's still not working.

![image](https://user-images.githubusercontent.com/32021618/51490835-0e9a9600-1d72-11e9-8a9f-22bb81b97659.png)

[2019-01-21 17:55] josephd9 commented on #41
I've also included the fix as mentioned here: https://stackoverflow.com/questions/37474309/timeouts-with-long-running-asp-net-mvc-core-controller-httppost-method

`      public static IWebHostBuilder CreateWebHostBuilder(string[] args) =>
            WebHost.CreateDefaultBuilder(args)
                   .UseKestrel((o => { o.Limits.KeepAliveTimeout = TimeSpan.FromMinutes(10); }))

[2019-01-21 18:01] assyadh commented on #42
Thanks for reporting this, I'm working on narrowing down the issue.

[2019-01-21 21:50] shinya-terasaki commented on #42
Hello,

I suspect that this happens at security stamp validation.

The following code is a part of asp.net. In some reason, VerifySecurityStamp() returns null, then enters loop of ValidateAsync() -> SignOutAsync() -> AuthenticateAsync() -> ValidateAsync()...

https://github.com/aspnet/Identity/blob/d18de6b00e13f06bae43c621f17e39ed2bec4069/src/Identity/SecurityStampValidator.cs#L99
[code]

[2019-01-22 10:17] andyfurniss4 commented on #42
I am also experiencing Stack Overflow Exceptions. So far this is limited to localhost as I have not deployed my Cognito implementation yet but I imagine it'll happen in production too.

I implemented Cognito Identity yesterday and when I came back to it this morning and ran the project locally I started getting the exception. It was occurring somewhere between the Configure method in Startup.cs an

[2019-01-22 13:55] andyfurniss4 opened #44 "Reset password flow"
What's the correct flow for when a password is reset in Cognito (AWS console or otherwise)? When I do this and sign in I get a `RequiresPasswordChange = true` response as expected but when I subsequently call `userManager.ChangePasswordAsync()` with the user, old password and new password I then get the following error:

I thought that maybe I should be using `ResetPasswordAsync` instead but there

[2019-01-22 14:11] shinya-terasaki commented on #42
Though I'm not quite sure whether this can be a permanent solution.

After some investigation, I found ASP.NET Core attempts to get a user by `ClaimTypes.NameIdentifier`. The following code is from asp.net core source.
https://github.com/aspnet/Identity/blob/d18de6b00e13f06bae43c621f17e39ed2bec4069/src/Core/UserManager.cs#L418 (from 2.1.1)
[code]

However Congnito user claims unlikely contains `Cl

[2019-01-22 18:11] assyadh commented on #42
I am periodically able to reproduce the StackOverflowException. While it was happening, I can confirm it has to do with the SignoutAsync method.
The actual override is not needed, so I am working on a PR to remove this code altogether. No ETA yet but it should be shortly.

[2019-01-22 18:17] jlwhitfill commented on #44
It seems there are some quirks in this as the ForgotPassword should require some sort of email or sms code to change it since the user is not logged in, while the ChangePassword is done when the user is logged in and requires no code.  Im working with the forgot password portion and have scaffolded in the ForgotPassword item for the .Net Identity, but I cant seem to find how to generate that email

[2019-01-22 18:38] assyadh commented on #44
Hi @andyfurniss4

Thanks for the feedback, I will add a different SigninResult to discern between a change password and a hard reset required.

@jlwhitfill Calling UserManager.ResetPasswordAsync(TUser user) will send the token to the user via email or sms depending on the User Pool policy.
You then have to call UserManager.ResetPasswordAsync(TUser user, string token, string newPassword)  with the

[2019-01-22 19:50] jlwhitfill commented on #44
The ForgotPassword piece works for me now, thank you!

[2019-01-22 19:58] assyadh commented on #42
@andyfurniss4  Yes,

I have just release a new version 0.9.02 that should solve the issue:

https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/0.9.0.2

Please let me know how that works for you!

Hamza

[2019-01-22 19:59] assyadh commented on #33
Hi everyone,

I have just release a new version 0.9.02 that should solve the issue:

https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/0.9.0.2

Please let me know how that works for you!

Hamza

[2019-01-22 20:39] jlwhitfill commented on #40
This new update 0.9.0.2 with the removal of the SignoutAsync overload solved this issue.  I am no longer having issues with the SignOutAsyc it is now properly logging me out and I am not seeing any Stack Overflows as of yet, but they take some time to appear when they do after that command is issued.  Thanks for your help!

[2019-01-22 20:39] #40 closed

[2019-01-22 21:17] assyadh commented on #44
Hi @andyfurniss4 , the following PR should solve the issue. Will let you know when it's available on NuGet:

https://github.com/aws/aws-aspnet-cognito-identity-provider/pull/45

[2019-01-22 22:30] gopinathrimc commented on #34
In my i have both API and Razor page.  I have secured the API with Bearer tokens authentication.
On the Razor page am able to use the SignInManager.IsSignedIn(User) to check if the user is signed in, and for the API i want to pass in bearer token.
So login to the app i want to access the session token and cache the id token on the client so that on api request i can send in the id token.

So how d

[2019-01-22 23:22] assyadh commented on #41
Hi @josephd9, I am working on implementing IQueryableUserStore which should solve:

'_signInManager.UserManager.Users' threw an exception of type 'System.NotSupportedException'

I will be looking into the other issues shortly after.

[2019-01-23 00:54] shinya-terasaki commented on #42
Hello,

Thank you. It works fine now!!

[2019-01-23 14:42] josephd9 commented on #41
Most totally excellent! Thanks!

[2019-01-23 16:16] VadimBurshtyn opened #46 "Getting System.Net.Sockets.SocketException while running samples"
I'm receiving "System.Net.Sockets.SocketException: A socket operation was attempted to an unreachable network" exception running Samples project.
I've updated appsettings with my User Pool values, and trying to login/register.

System.Net.Http.HttpRequestException: A socket operation was attempted to an unreachable network ---> System.Net.Sockets.SocketException: A socket operation was attempted t

[2019-01-23 17:24] VadimBurshtyn commented on #46
Ok, i've figured it out.

For those who is the same noob at AWS as me, you must provide default profile.
See some details here: https://stackoverflow.com/questions/53176573/dynamodb-socketexception-a-socket-operation-was-attempted-to-an-unreachable-net

[2019-01-23 17:24] #46 closed

[2019-01-23 17:34] #44 closed

[2019-01-23 17:34] #42 closed

[2019-01-23 17:34] #33 closed

[2019-01-23 17:35] andyfurniss4 commented on #42
After upgrading and a day of work, I have not experienced any stack overflow exceptions.

Thank you!

[2019-01-23 22:45] jlwhitfill opened #47 "Changing the phone number in the Identity scaffolded pages throws KeyNotFoundException: The given key 'phone_number' was not present in the dictionary error"
So I went ahead and scaffolded in the Identity pages for managing the user profile (Account/Manage/Index an corresponding management layout files).  I switched out all the injections to accommodate the Cognito User Manager and Sign in Manager object.  When I try to open the Index page as the user's profile, it throws the following error:

`KeyNotFoundException: The given key 'phone_number' was not

[2019-01-24 17:40] jlwhitfill opened #48 "Is MultiFactor Authentication working in this library yet?"
Ive been able to implement MFA in the node.js world with Amplify but in switching over to the .NET Core2 world and this library, Im finding a lot of the base calls surrounding MFA or 2FA are not implemented.  I need to do SMS and TOTP.  In the node.js world using Amplify I can simply use setPreferredMFA (none, SMS or TOTP) and  VerifyTotpToken.  Then when its MFA I run setupTOTP, which generates 3

[2019-01-24 18:19] assyadh commented on #47
This is really weird, Can you please share a screenshot of your user attributes in Cognito?
phone_number is supposed to always be present.

[2019-01-24 18:23] assyadh commented on #48
We currently only support SMS 2fa, TOTP will be supported in a later version.

When calling the PasswordSigninAsync method in the SigninManager you may be presented with an SignInResult.TwoFactorRequired result:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/src/Amazon.AspNetCore.Identity.Cognito/CognitoSigninManager.cs#L157

This would trigger the send of an token via SM

[2019-01-24 18:23] #48 closed

[2019-01-24 20:46] jlwhitfill commented on #48
Excellent I figured that was the case, thanks

[2019-01-24 21:04] jlwhitfill commented on #47
I thought so too and I figured it out.  When I looked at the user attributes in Cognito there was NO "phone_number" attribute, so when there is no phone number on the user record and you call that, the phone_number attribute is not returned.

However, when I load up my node project and add an actual phone number, the phone_number attribute THEN appears and the call works.  The GetPhoneNumberAsync

[2019-01-24 21:06] assyadh commented on #47
Right, on the first user subscription, it looks like there is an edge case where the phone number is not there.

[2019-01-24 21:10] jlwhitfill commented on #47
The set works fine I just tested it.  Its just when the initial call is made when the there is no number it fails and should just trap that and return and empty string and then we are good.

[2019-01-24 23:18] assyadh commented on #47
I have a PR in to fix this, and will let you know when it's available on NuGet

[2019-01-24 23:40] assyadh commented on #47
This should fix the issue:

https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/0.9.0.4

Please let me know if it's not the case.

H.

[2019-01-24 23:40] #47 closed

[2019-01-25 16:11] jlwhitfill commented on #47
This resolved the issue, thanks!

[2019-01-28 12:02] andyfurniss4 opened #50 "Set identity expiration/timeout"
Hi there,

I'm trying to set the identity expiration for my users but it doesn't seem to be working. I've set it to a two hour sliding expiration but I seem to get automatically logged out after about 30 minutes or so. Could you advise? Here is what I have currently:

[code]

[2019-01-28 21:42] jlwhitfill opened #51 "Result from PasswordSignInAsync does not contain an ERRORS property when it fails."
Int he case of many of the calls, when there is a failure, an ERRORS property is available for me to loop through and get the errors.  In the case of PasswordSignInAsync, when it fails (where SUCCEEDED = false).  I cant tell why it failed.  there are several properties like ISLOCKEDOUT, PASSWORDRESETREQUIRED, but if the failure is not due to any of those errors, I cant trap what caused it.

For in

[2019-01-29 11:34] andyfurniss4 commented on #50
I believe this may be related to this answer on SO: https://stackoverflow.com/a/46223119/5392786

[2019-01-29 21:36] jlwhitfill commented on #51
I think this is by design as the base _userManager object provides and ERRORS property but the _signInManager does not, but I will wait for confirmation

[2019-01-29 21:41] jlwhitfill opened #53 "How do I resend a registration confirmation email"
So if I register a new user and for some reason fail to confirm the signup.  When I try to login later it fails with NOTALLOWED = TRUE, which means the email/account is not verified. Keep in mind I am using the email as the username for login.  Is there a way to resend the confirmation code email?  I cant seem to find anything.  When I try to run

`await _userManager.SendEmailConfirmationTokenAsyn

[2019-01-29 21:46] assyadh commented on #51
Hi,

Yes this is by design, My understanding is that you don't want to surface too many errors to users that are not logged in.

The Entity Framework managers behave like that.

[2019-01-29 21:46] #51 closed

[2019-01-29 21:49] assyadh commented on #53
Can you please share the stacktrace? As well as examples of what you do with the email?

This is the cognito api call: https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/ee9c9ae6d29131df683518df731ab2c8fe6af6e5/src/Amazon.AspNetCore.Identity.Cognito/CognitoUserStore/CognitoUserStore.cs#L341

It will send an email confirmation to the email that is on the email attribute of user in the

[2019-01-29 21:55] assyadh commented on #50
Related issue https://github.com/aspnet/Identity/issues/1425#issuecomment-329372381

[2019-01-29 23:20] jlwhitfill commented on #53
So what I do, is on the login, I check to see if the result.IsNotAllowed = true, if it is true, I pass in the email address from the login and lookup the user by the email address:

`var user = await _userManager.FindByEmailAsync(Input.Email).ConfigureAwait(false);`

then I make the call to SendEmailConfirmation with that user

`var result2 = await _userManager.SendEmailConfirmationTokenAsync(user

[2019-01-29 23:21] jlwhitfill commented on #51
I figured as much and that is correct, I dont want to tell them its a bad user or bad password or that the user even exists.  It was more for my logging underneath so I can trend what is happening.  Thanks anyway.

[2019-01-29 23:31] jlwhitfill commented on #41
Will I be able to query this for users with a specific attribute (non custom of course)?  The reason I say this is that I am using the preferred_username as a sort of user tag and I want that to be unique, but since I use the email address as the username, that is the only thing I can make unique.  Would also be nice to make sure I am not creating users with the same phone number.

I tried calling

[2019-01-31 22:10] assyadh commented on #41
Hey @jlwhitfill , Cognito does not currently support querying custom attributes. There is no ETA on this support yet.
However, requesting Cognito standard attributes is possible. I can look into implementing GetUsersForClaimAsync just for this use case. It should cover your need.

[2019-01-31 22:11] assyadh commented on #41
Hi @josephd9, are you still seeing the Operation Cancelled Exception? If so, could you please share your stack trace. Also, if you are seeing this in Visual studio, do you have the AWS Toolkit for visual studio installed?

[2019-01-31 22:20] jlwhitfill commented on #41
Correct I know you cant query custom attributes, but I would like to query by standard ones like preferred_username and phone_number.  In my previous message  I tried calling the GetUsersForClaimAsync, passing in a specified attribute of preferred_username and its value as a claim but it replied back that it was Not Implemented. Not sure if this is even possible.  WIll I be able to query using the

[2019-01-31 22:59] josephd9 commented on #41
Yup still seeing the same issue.

System.Net.Http.HttpClient.HandleFinishSendAsyncError(Exception e, CancellationTokenSource cts)
System.Net.Http.HttpClient.FinishSendAsyncUnbuffered(Task<HttpResponseMessage> sendTask, HttpRequestMessage request, CancellationTokenSource cts, bool disposeCts)
System.Net.Http.HttpClient.GetStringAsyncCore(Task<HttpResponseMessage> getTask)
Amazon.Runtime.Internal.Ut

[2019-01-31 22:59] josephd9 commented on #41
Yes I have the took kit installed too

[2019-02-04 09:44] jobairkhan commented on #34
If the user has permission to access another secured API. I believe the following code should return me the access_token, that I should be able to use to retrieve data from another API

[code]
at the moment the value of the variable `token` is null even though the user is authenticated

[2019-02-04 13:45] josephd9 commented on #41
I'm not seeing one of the two errors inside the userManger object.
▶ | Session | '((Microsoft.AspNetCore.Http.DefaultHttpContext)_signInManager.Context).Session' threw an exception of type 'System.InvalidOperationException' | Microsoft.AspNetCore.Http.ISession {System.InvalidOperationException}

Is gone. Still seeing '_signInManager.UserManager.Users' threw an exception of type 'System.NotSupporte

[2019-02-04 21:56] jlwhitfill commented on #53
Anymore thoughts on this one?

[2019-02-04 22:09] jlwhitfill opened #56 "How do I retrieve the Access Token from the UserManager?"
I need to pass the Access token to my API Lambda functions and I Im kind of scratching my head on how to get it once logged in.  I see there is a function called:

GetAuthenticationTokenAsync

but when I try to use it I get a NotSupportedException.

[2019-02-04 22:44] assyadh commented on #53
Hi @jlwhitfill I think I narrowed down the issue, it has to do with the fact that the cognito api expects the user to be authenticated to verify the attributes. I am trying to reproduce the issue with a cognito pool similar to yours.

[2019-02-04 23:11] assyadh commented on #53
I have a PR in that adds an API for the purpose of resending the confirmation code for account signup.

In depth:

For Cognito, attribute verification is a different api than account signup verification. ie you can change your email and call the email verification api as you did, but this only verifies the email, not the account.

Now when calling the new api, you will get a confirmation code sent

[2019-02-05 00:34] assyadh commented on #53
https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/0.9.0.5  should fix the issue.

The usermanager now exposes ResendSignupConfirmationCodeAsync

[2019-02-05 00:34] #53 closed

[2019-02-05 15:14] jlwhitfill commented on #53
This works correctly on my end, thank you!

[2019-02-05 18:43] assyadh commented on #34
Once you Sign in, the CognitoUser instance has the AccessToken object populated. I am looking into incorporating Identity apis with this.

[2019-02-05 18:43] assyadh commented on #56
Once you Sign in, the CognitoUser instance has the AccessToken object populated. I am looking into incorporating Identity apis with this.

[2019-02-05 18:44] assyadh commented on #34
See https://github.com/aws/aws-sdk-net-extensions-cognito/blob/master/src/Amazon.Extensions.CognitoAuthentication/CognitoUser.cs#L40

[2019-02-05 18:44] assyadh commented on #56
See: https://github.com/aws/aws-sdk-net-extensions-cognito/blob/master/src/Amazon.Extensions.CognitoAuthentication/CognitoUser.cs#L40

[2019-02-05 20:02] jlwhitfill commented on #56
Thanks, I realized after I sent it that it was probably incorporated in the CognitoUser, but figured I would leave it there since the Identity APIs also have an option for it.  Thanks!

[2019-02-06 13:09] josephd9 commented on #41
Hello, sorry I'm a little confused does this update fix the issue I'm having with registration? Where the operation is cancelled in the OnPostAsync at this line: var result = await _userManager.CreateAsync(user, Input.Password); ??

[2019-02-06 15:52] assyadh commented on #41
Hi @josephd9, I am still working on it but haven't been able to repro the issue. Would you monde sharing a sample app that triggers the issue?

Please make sure to not include any secrets.

Also, which version of net core are you running?

[2019-02-06 19:55] assyadh commented on #34
I have a PR in to expose tokens through HttpContext.GetTokenAsync(). I will let you know when this is released

[2019-02-06 19:56] assyadh commented on #56
I have a PR in to expose tokens through HttpContext.GetTokenAsync(). I will let you know when this is released

[2019-02-06 21:22] assyadh commented on #56
Hi, 0.9.0.7 now exposes the token through HttpContext.GetTokenAsync(): https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/src/Amazon.AspNetCore.Identity.Cognito/CognitoSigninManager.cs#L141

https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/0.9.0.7

[2019-02-06 21:23] #56 closed

[2019-02-06 21:24] assyadh commented on #34
Hi, [0.9.0.7](https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/0.9.0.7) now exposes the token through HttpContext.GetTokenAsync():

See: https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/src/Amazon.AspNetCore.Identity.Cognito/CognitoSigninManager.cs#L141

[2019-02-06 21:24] #34 closed

[2019-02-06 21:41] josephd9 commented on #41
Sure thing. I'll have that for you shortly.

[2019-02-07 16:52] jlwhitfill commented on #41
@assyadh  Changes for 0.9.0.6 for the GetUsersForClaimAsync is working as expected.  Thank you!

[2019-02-07 20:35] jlwhitfill commented on #56
The Context.GetTokentAsync is now working as expected, however in one of your previous comments here you said the CognitoUser.SessionTokens are being populated as well.  In checking this. I am finding that it never gets set and is always null when I check it after login.

[2019-02-07 21:40] jlwhitfill opened #62 "Updating user attributes"
So in looking at everything, I'm not easily seeing how to update CognitoUser attributes.  I see I can set can call `CognitoUser.Attributes[<attributename>]` and set it, but how do I push it to Cognito?

I tried `CognitoUser.UpdateAttributesAsync` after updating the attributes and it throws an error below that the user is not authenticated, yet I know they are as I just logged in.  I know Im close,

[2019-02-07 22:05] assyadh commented on #62
You can call UserManager.AddClaimsAsync() to update claims for a user:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/src/Amazon.AspNetCore.Identity.Cognito/CognitoUserManager.cs#L540

The CognitoUser.UpdateAttributesAsync requires a logged in user while the manager not.

[2019-02-07 22:05] #62 closed

[2019-02-08 16:15] jlwhitfill commented on #62
The issue here is that I AM logged in with a user using `_signInManager.PasswordSignInAsync`, so if I call the CognitoUser.UpdateAttributes it should work.  Am I doing something wrong where Cognito thinks the user is not authenticated?  That will cause me problems later with my Access token.

[2019-02-11 16:34] jlwhitfill opened #63 "Confirming Phone number throws an an error"
When I attempt to confirm a phone number change with a verification code using

`await _userManager.ConfirmPhoneNumberAsync(user, code)`

I receive the following error:

[code]
The user manager, user and code are all valid and it appears its blowing up trying to verify the phone attribute, but that exists too in my user below:

![image](https://user-images.githubusercontent.com/43940326/52577806-1

[2019-02-11 16:42] jlwhitfill commented on #63
FYI, the call `ConfirmEmailAsync `also produces the same error

[2019-02-11 17:19] jlwhitfill commented on #63
Also I need a way to resend the phone and email change confirmation codes like you did with the `ResendSignupConfirmationCodeAsync `option.  If I try to call the  `SendEmailConfirmationTokenAsync `or `SendPhoneConfirmationTokenAsync`, they throw the and error:

[code]

[2019-02-11 17:37] josephd9 commented on #41
Sorry for the delay. Here's a sample set up the same way as my own project with the same error.
https://github.com/josephd9/CognitoTest2

While creating this I discovered that a few of the packages are showing this warning:
Detected package version outside of dependency constraint: Microsoft.AspNetCore.App 2.1.1 requires Microsoft.AspNetCore.Razor.Language (>= 2.1.1 && < 2.2.0) but version Microso

[2019-02-11 18:14] assyadh commented on #63
You are using the correct API, but your CognitoUser instance probably does not have a session token object populated.

This Cognito api can only be called with a Cognito logged-in user.

Try setting up the token on the user (by signing in, or retrieving the token on the context).

H.

[2019-02-11 20:20] jlwhitfill commented on #63
I am signed in, I used the `_signInManager.PasswordSignInAsync` method and its not populating the session of the cognito user.  If I retrieve the user, right after the call above and check the cognitoUser. SessionTokens, its null.  Im I not doing something correct?  When you say retrieving the token on the context, Im not sure what you mean

[2019-02-11 20:44] assyadh commented on #63
You don't need to retrieve it, you can use the same instance as it gets updated.

[2019-02-11 20:45] assyadh commented on #63
You can get the access token of the currently signed in user by calling HttpContext.GetTokenAsync("access_token")

[2019-02-11 21:47] jlwhitfill commented on #63
Maybe I am misunderstanding the process of logging in.

I use _signInManager.PasswordSignInAsync, its gives me a SUCCEEDED response.

How do I retrieve the CognitoUser immediately after that which has a session object populated?

When I am on other pages, I have been using:

         `var user = await _userManager.GetUserAsync(User).ConfigureAwait(false);`

where User is the HttpContextUser value.

[2019-02-11 22:31] assyadh commented on #63
There is an overload on PasswordSignInAsync that allows you to sign in with a CognitoUser object. this object will get tokens populated once signed in.

Example:

`var user = await _userManager.FindByIdAsync(Input.UserName);`

`
var result = await _signInManager.PasswordSignInAsync(user, Input.Password, Input.RememberMe, false);`

[2019-02-12 00:31] jlwhitfill commented on #63
Ok I was able to login a user in with a populated session as you stated above, but here is my dilemma.  I then move to the profile page after logging in, HOW do I get that same user back with a populated session so I can call _`userManager.ConfirmPhoneNumberAsync(user, code)`.  I have to have a session in place on the CognitoUser for this to happen but if I call `var user = await _userManager.GetU

[2019-02-12 01:56] assyadh commented on #63
Hi @jlwhitfill,

I know have a better grasp of your issue. I am thinking of a change that would automatically populate the tokens if you are on a different webpage than the initial one.

This is a difference due to the nature of Cognito vs SQL Server. SQL Server has the tokens in the table, so each time you query FindById() for instance you get a set of tokens if availables.

I will let you know h

[2019-02-12 02:02] jlwhitfill commented on #63
Right as the original base Identity works differently than Cognito.   Your change would be perfect and Im glad you understand, I was starting to pull my hair out as I need that session available on most pages either for congito functions for to retrieve the access token for my Lambda function calls.  Can you make it populate the tokens anytime I do ANY find by?  e.g. FindByEmail, FindById, etc?

[2019-02-12 02:35] assyadh commented on #63
Yes that's what I plan to do

[2019-02-12 23:06] assyadh commented on #63
https://github.com/aws/aws-aspnet-cognito-identity-provider/pull/64

[2019-02-13 00:37] jlwhitfill commented on #63
Thanks Ill wait for the approval, merge and subsequent build

[2019-02-13 14:43] ricardoalbarracin commented on #41
I have the same problem, is there any known solution for this error?

[2019-02-13 22:10] jlwhitfill commented on #41
Make sure you are using Core 2.1.  Do not use 2.2 or 1.x.  Also make sure all your nuget packages are up to date.  When I updated all of mine it started working

[2019-02-14 00:11] assyadh commented on #41
@josephd9, this does not seem related to your sample app, as it does not trigger the issue in my case when targeting 2.1 and 2.2.

It looks like a 'retrieving the aws credentials' issue.

[2019-02-14 12:59] josephd9 commented on #41
Could it be that my cognito identity/user pools are not set up correctly?

[2019-02-14 20:31] flgatormike opened #65 "The operation was canceled."
Hi,
I downloaded the sample app, and changed the AWS settings to the ones below
(I changed a bunch of letters and numbers so these aren't real credentials here)

And I get this error when I try to log in:
OperationCanceledException: The operation was canceled.
System.Net.Http.HttpClient.HandleFinishSendAsyncError(Exception e, CancellationTokenSource cts)

Any idea what I am doing wrong?

    "Regi

[2019-02-14 20:42] assyadh commented on #65
Probably related to https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/41

I am currently working on it. Closing this issue to keep track on the other one.

[2019-02-14 20:42] #65 closed

[2019-02-14 20:58] assyadh commented on #41
Hey @josephd9 , I think I have the root cause. You do not have a default development profile for the .NET SDK to find. As this library is built on top of the SDK, it needs some credentials.

So two ways to do this: you can install the aws cli and then run aws configure in a command shell,

Or you can set up a development profile in the AWS Toolkit and name it default:

https://docs.aws.amazon.com/

[2019-02-14 22:12] assyadh commented on #50
I am able to reproduce the issue. looking deeper.

[2019-02-14 22:43] josephd9 commented on #41
I created the default user and added it to the toolkit but did not see any change in the problem. I found the link you provided to be slightly confusing. Is that a list of steps I need to take in addition to using the toolkit or does the content of the url replace the toolkit if I choose not to use it? I also selected 'no permission boundaries' for my dev account but the group i set it to also has

[2019-02-14 22:58] assyadh commented on #63
Hi,

0.9.0.8 Should fix the issue.

https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/0.9.0.8

[2019-02-14 22:58] #63 closed

[2019-02-14 23:26] assyadh commented on #41
I was referring to the "Using the SDK Store" section of the link. When injecting instance of the .NET SDK clients, your development environment relies on specific credential files available.

The quickest way to create them is by creating a "default" profile (with the name "default") in the AWS toolkit. You can do this by going into View -> AWS Explorer -> click on the little + button and create a

[2019-02-15 00:49] flgatormike commented on #41
Wow, this is frustrating. First I tried creating a profile in powershell as administrator and got errors like "script not enabled" and "module not enabled" and googled to try to find solutions. Then I tried installing the AWS toolkit and get "not all privileges or groups referenced are assigned to the caller" And I'm assuming if I spend hours to get this working, I would also need spend time getti

[2019-02-15 00:52] assyadh commented on #41
This setup is only required while developing with the SDK for. NET.

On a production environment, credentials are retrieved using the ec2 instance metadata for example (ie the IAM role attached to the ec2 instance)

[2019-02-15 01:29] flgatormike commented on #41
Is there a way to use the SDK without creating the profile? I am not having any luck with that.

[2019-02-15 01:42] assyadh commented on #41
You can also inject your own instances of Cognito clients as specified in the Readme. This can be done with specifying an access key and a secret key. However this is not recommended and you should rely on IAM roles with just enough permissions.

[2019-02-15 02:21] flgatormike commented on #41
I tried creating my own instances like below and I still get the same error when I try to log in:

OperationCanceledException: The operation was canceled.
System.Net.Http.HttpClient.HandleFinishSendAsyncError(Exception e, CancellationTokenSource cts)

            var region = RegionEndpoint.GetBySystemName("us-east-1");
            AmazonCognitoIdentityProviderClient provider = new AmazonCognitoId

[2019-02-15 02:23] assyadh commented on #41
You are missing the access key and secret key if you want to use it like that when instantiating the
AmazonCognitoIdentityProviderClient

Whitout providing these, it will go the same route (credential file)

[2019-02-15 10:57] andyfurniss4 opened #66 "'Missing Authentication Token' when creating user"
Hi there,

I'm trying to set us the registration flow for a new website. I have followed the guide for setting up the Identity in Startup.cs and also copied the sample Register page code. You can see both below.

**Startup.cs**
[code]

**Register.cshtml.cs**
[code]

User Pool settings:

![image](https://user-images.githubusercontent.com/16683916/52852428-78f3eb80-3110-11e9-9240-318552ca631a.png)

[2019-02-15 12:37] flgatormike commented on #41
Ok, it is working now. I just want to test and if everything works OK I can get the default profile working.
Thanks!

[2019-02-15 13:35] josephd9 commented on #41
Man this is frustrating. I can't seem to get this working.
Here's what I've done. I must be missing something or not understanding.

1) I used the AWS Explorer to add a user called Default (I created a user in IAM first).
2) I added the below code to startup.

        ` var region = RegionEndpoint.GetBySystemName("us-east-1");
            AmazonCognitoIdentityProviderClient provider = new

[2019-02-15 14:14] andyfurniss4 commented on #66
Ignore this. I'm an idiot and I forgot to set my AWS credential environment variables. This can be closed.

Having said this, the error message given - 'Missing Authentication Token' - is not very helpful in directing you to the actual problem. Maybe can be improved?

[2019-02-15 14:17] flgatormike commented on #41
Did you give your user necessary permissions? For testing, I added policy "AmazonCognitoPowerUser" to my user and then it worked.

[2019-02-15 16:47] flgatormike commented on #41
Just curious, does the CognitoUserManager method CreateAsync allow you to pass additional attributes? For example, I have "family_name" and "given_name" as required. The method CreateAsync has a parameter "validationData" which I thought I could pass those, but it doesn't look like that works. Should I not make those fields required in Cognito and just require them on my website, and then just upd

[2019-02-15 16:50] assyadh commented on #41
You can add them on the CognitoUser parameter through the Attributes property. They have to exist on the pool but it's not necessary to flag them as mandatory. This is ip to you and your needs.

The validationData parameter on CreateAsync is there if you want to pass data to a lambda presignup trigger for instance.

[2019-02-15 17:24] assyadh commented on #66
Unfortunately this error is in a deep level dependency of the AWS .NET SDK (AWSSDK.Core).

I can bring it up to the team to update the exception message, but I can't promise an eta for that.

[2019-02-15 18:18] flgatormike commented on #41
Thanks for all your help. That works great. Just one more question and it is also related to User Registration so I will post it here. After the user is registered, it is successful, but when "SignInAsync" is called, I get the error below. The user gets created successfully in Cognito so not sure why I get "user does not exist"

var result = await _userManager.CreateAsync(user, Input.Password);
if

[2019-02-15 19:20] jlwhitfill commented on #41
Are you using email as the primary userid?  I had this issue because of that  and added the code below prior to the SignInAsync (which I got rid of as I dont want the user logged in prior to confirmation, but in any case add:

      `user = await _userManager.FindByEmailAsync(<users email address)`

then pass that user to the SignInASsnc method and it works.

[2019-02-15 19:26] flgatormike commented on #41
Thanks. That makes sense and your solution works perfectly.

[2019-02-17 01:34] jlwhitfill opened #67 "Issue with confirming email change of the user (edge case flow issue)"
Ok, so you changed in 0.9.0.8 worked for me in terms of allowing me to retrieve a user with session tokens properly so I could confirm an email and phone number changed.  I found an edge case that is a catch 22 when changing the email address.  Keep in mind, my user pool is configured for the email address as the username.

If I change the email address to another email, I can then verify it immed

[2019-02-18 16:44] andyfurniss4 commented on #66
OK, no problem. Hopefully they get round to it sooner or later!

[2019-02-18 16:47] andyfurniss4 opened #68 "Possible to retrieve user created date?"
Me again.

I can see in Cognito that there's a 'Created Date' field but I can't figure out how to get hold of this value programatically. It's not returned in the collection attributes and I can't see a method to get it explicitly. Is it possible?

[2019-02-18 18:11] assyadh commented on #68
Hi,

Iirc, the creation date is not a cognito attribute, it is rather returned by calling the AdminGetUser api: https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminGetUser.html

You can look into implementing this by yourself if you are in a hurry (for this, use the CognitoUserPool instance available through the ServiceCollection, it contains the pool id property).

[2019-02-18 18:12] #41 closed

[2019-02-18 20:32] josephd9 commented on #41
My AWS account was disabled. I'm working to correct it. It may take a minute for me to get back to this issue.

[2019-02-18 20:34] assyadh commented on #41
It most likely has to do with the issue I opened in your repo.

[2019-02-19 03:50] josephd9 commented on #41
You opened in issue in my aws repo?

[2019-02-19 03:52] josephd9 commented on #41
oh for the...oh the hell did i make that kind of mistake!

[2019-02-19 05:04] assyadh commented on #41
You can install this so it doesn't happen again:

https://github.com/awslabs/git-secrets

[2019-02-19 14:06] josephd9 commented on #41
thanks! *smh* such a bone headed mistake. I'm almost fixed up now. I'll get back to implementing these fixes for my cognito issue in a few days. I haven't tried the suggestion to give my user permissions.

[2019-02-19 15:42] Salcave commented on #35
Hello, I scaffolded a ChangePassword page using Identity, but when users enter their new password it doesn't get changed and receive a "Incorrect password" error even though their credentials are correct. Also, users receive a authorization code through sms at the same time. I get no errors on the console.

[2019-02-19 18:13] assyadh commented on #35
Hi @Salcave, did you make the necessary changes in the controller to use the CognitoUserManager?

Also, in Cognito, there is a difference between changing a password:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/src/Amazon.AspNetCore.Identity.Cognito/CognitoUserManager.cs#L228

And Reseting a password (with a token, but not the old password):

https://github.com/aws/aws

[2019-02-19 19:56] Salcave commented on #35
I believe so. Below is my CognitoUserManager:

        private readonly CognitoUserManager<CognitoUser> _userManager;
        private readonly SignInManager<CognitoUser> _signInManager;
        private readonly ILogger<ChangePasswordModel> _logger;

        public ChangePasswordModel(
            UserManager<CognitoUser> userManager,
            SignInManager<CognitoUser> signInManager,

[2019-02-19 19:59] assyadh commented on #35
Can you double check the user status? your code looks correct at first sight

[2019-02-19 20:13] Salcave commented on #35
The user is authenticated during the whole process, if that's what you're asking.

[2019-02-19 23:04] assyadh commented on #50
Found it: https://github.com/aspnet/Identity/pull/1941

The fix was only added to Identity 2.2. I am adding it since our dependency points to 2.1.6.

I tested it and it fixes the issue.

[2019-02-19 23:04] assyadh commented on #50
Thanks for the catch @andyfurniss4

[2019-02-20 10:00] andyfurniss4 commented on #50
Good stuff. Thanks for sorting @assyadh!

[2019-02-20 13:58] josephd9 commented on #41
YYYYYEEESSS!!! It's working for me! I needed to add the cognitopoweruser policy. I'm sure there is much more work to do with fine tuning and proper permissions but for now it works! Thanks so much for the help! Now I'm off to learn how to protect my secrets. lol

[2019-02-20 15:43] andyfurniss4 opened #70 "Change email flow with verification turned off"
The user registration flow for my application is as follows:

1. User registers (`UserManager.CreateAsync()`)
2. Upon completing the registration for, the user is presented with a message saying that their account needs to be approved before they can log in.
3. An admin will approve their account (currently setting a custom 'approved' attribute to 1) which will change the status of the user to CON

[2019-02-20 16:10] Salcave commented on #35
@assyadh It seems like the password change issue was fixed with the Amazon.AspNetCore.Identity.Cognito update of 0.9.0.8, but users are still receiving an authorization code through sms after changing their password.

[2019-02-20 16:40] assyadh commented on #70
I'll try to repro this. It may be that the user is confirmed but not the email. These are two different things for Cognito

[2019-02-20 16:44] andyfurniss4 commented on #70
Yeah, I understand they are different things but I would have thought if verification is disabled then it shouldn't matter that the email is not verified? Also, it allowed me to log in before changing the email and at no point has email_verified been 'true'.

[2019-02-20 22:54] #50 closed

[2019-02-20 23:52] assyadh commented on #50
https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/0.9.0.9 should solve the 30 minutes issue.

[2019-02-21 19:51] jlwhitfill commented on #67
Any ideas on this one?

[2019-02-21 19:55] jlwhitfill opened #73 "Resetting the user password when the user is authenticated and has session tokens"
So I have a user profile page and the user is authenticated with a full session.  I have a section to offer a password reset, but the only option I can see for resetting the password is one that requires a code, which I thought was only necessary if the user is not authenticated.

In the Node.js Amplify version I wrote, I can change the user's password if they are authenticated and not require a v

[2019-02-21 21:16] assyadh commented on #73
Calling the UserManager.ResetPasswordAsync(TUser user) Admins reset the password by sending a token (no need to be logged in, this is an Admin operation):

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/src/Amazon.AspNetCore.Identity.Cognito/CognitoUserManager.cs#L294

Calling  UserManager.ResetPasswordAsync(TUser user, string token, string newPassword) changes the passwor

[2019-02-22 14:01] josephd9 opened #74 "Retrieving userName and sub immediately after registration."
I'm trying to get the user name and the user's sub right after registration, right after "  await _signInManager.SignInAsync(user, isPersistent: false);". I can't seem to find the right way to do this.

Also, which is better for storing a unique user identifier in my database, the sub or the user name?

[2019-02-22 18:23] assyadh commented on #74
Hi,

You can call userManager.GetClaimsAsync() for this:

https://github.com/aspnet/Identity/blob/eb3ff7fc32dbfff65a1ba6dfdca16487e0f6fc41/src/Microsoft.Extensions.Identity.Core/UserManager.cs#L1128

H.

[2019-02-22 18:24] #74 closed

[2019-02-22 19:19] assyadh commented on #41
No problem,

The version 0.9.0.11 now exposes a UserManager.GetUsersAsync() method to retrieve the lists of users in the pool, as well as filtering options.

See: https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/src/Amazon.AspNetCore.Identity.Cognito/CognitoUserManager.cs#L670

The UserManager.Users property should not be used.

[2019-02-22 19:58] jlwhitfill commented on #73
thanks this worked

[2019-02-22 19:58] #73 closed

[2019-02-22 22:51] josephd9 commented on #74
You are a gentleman and a scholar. Thank you!

[2019-02-23 01:21] assyadh commented on #74
The sub is the unique identifier on Cognito's side for a user in the pool.

[2019-02-25 20:21] jlwhitfill opened #76 "Refreshing the Access token"
So from my reading and by experience the Access token is good for one hour.  After that you need to refresh it with the Refresh token.  I know the Amplify node.js library automatically does it.

Does that happen with this library?  If not what is the flow or process for checking it and refreshing it and what can I call here to do that.  I'm not seeing the ability to do that anywhere (of course I m

[2019-02-25 21:09] assyadh commented on #76
Hi,

You can call CognitoUser.StartWithRefreshTokenAuthAsync() to implement this.

https://github.com/aws/aws-sdk-net-extensions-cognito/blob/a6c789d586e11785288e9d7d7fa39537dbcf5e14/src/Amazon.Extensions.CognitoAuthentication/CognitoUserAuthentication.cs#L217

[2019-02-25 21:15] assyadh commented on #76
There might be a way to automate this within Identity, I'm looking into this.

[2019-02-27 14:24] josephd9 opened #77 "No definition for CognitoAttributesConstants when upgrading to 0.9.0.11"
I was on .9 then upgraded to .11 and the class CognitoAttributesConstants became undefined. I downgraded to .10 and it worked. I tried but could not find the necessary reference to use this class while using .11.

[2019-02-27 18:45] assyadh commented on #77
Hi,

Yes they have been renamed to CognitoAttribute:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/src/Amazon.AspNetCore.Identity.Cognito/CognitoAttribute.cs

There is also a constructor that allows you to expend the class and build your own attribute now.

Sorry about that but while we are still in dev preview there might be some breaking changes.

[2019-02-27 18:45] #77 closed

[2019-02-28 05:04] ghendo opened #78 "email confirmation"
In CognitoSignInManager
method
        protected override async Task<SignInResult> PreSignInCheck(TUser user)
        {
            // Checks for email/phone number confirmation status
            if (!await CanSignInAsync(user).ConfigureAwait(false))
            {
                return SignInResult.NotAllowed;
            }
            if (await IsPasswordChangeRequiredAsync(user).ConfigureAwait

[2019-03-01 14:26] josephd9 opened #79 "How do i get current user from home controller?"
Title says it all. I can't figure out how to get the current user from my home controller.

I have a 2nd question, I can create a new post for it, but I figured it'd try it here. Is there any existing framework for a user deleting their account? Or do I have to write it myself with UserManager.DeleteAsync(); Just asking so I dont waste anymore time looking for it.

Thanks!

[2019-03-01 16:31] andsee opened #80 "Sample results in 'The hostname could not be parsed'"
Perhaps there are some extra configuration steps I need to do. I've cloned the repository and added the aws settings to appsettings.json but I get the following error when running in visual studio:

`UriFormatException: Invalid URI: The hostname could not be parsed.
System.Uri.CreateThis(string uri, bool dontEscape, UriKind uriKind)
Amazon.Runtime.ClientConfig.GetUrl(RegionEndpoint regionEndpoint,

[2019-03-01 17:27] jlwhitfill commented on #79
If your user is autheticated, you can call this.  I use this on any page I need that info, where User is the current claims principal:

``            var user = await _userManager.GetUserAsync(User).ConfigureAwait(false);``

[2019-03-01 17:50] assyadh commented on #79
You can inject a UserManager to your controller. Example:
https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/samples/Samples/Areas/Identity/Pages/Account/Register.cshtml.cs#L22

Than call _userManager.GetUserAsync(User) as mentioned by @jlwhitfill .

You actually don't need to be authenticated, however the user you retrieve won't be authenticated either.

[2019-03-01 17:50] #79 closed

[2019-03-01 17:51] assyadh commented on #78
Does your pool actually prevents non confirmed email from signing in?

[2019-03-01 17:53] assyadh commented on #80
Can you make sure you have followed this tutorial: https://docs.aws.amazon.com/sdk-for-net/v2/developer-guide/net-dg-setup.html

You may not have a credential file for developing with the AWS SDK for .NET

[2019-03-01 17:55] jlwhitfill commented on #80
To add on to what @assyadh said, the AWS toolkit is much easier to use.

Keep in mind this builds on the AWS SDK, which means you need to install the AWS Toolkit and create a default profile that this will use.  Its based on an IAM user that you create in your AWS IAM section.  I created that has a policy for CognitoPowerUser.

![image](https://user-images.githubusercontent.com/43940326/53655898-c

[2019-03-01 18:52] andsee commented on #80
Thanks for the quick replies.
I do and did have AWS tookit installed with a default user (The project I am trying to add it to already uses RDS, Elasticache & CloudWatch). However the user did not specifically have the AmazonCognitoPowerUser permissions so I've added them, but this has made no difference. I still get the

![image](https://user-images.githubusercontent.com/1597978/53659024-4c80b900

[2019-03-01 18:55] andsee commented on #80
Of note the cognito settings are pulled from a working app using the .net SDK within Unity3D, so cognito should be correctly configured fingers crossed.

[2019-03-01 22:31] josephd9 commented on #79
How do i get the current claims principal? I tried var user = ClaimsPrincipal.Current; and it's always null.

[2019-03-01 22:35] josephd9 commented on #79
I found it, sorry for the bad question.
In case anyone else looking for it comes here, I found it here: var user = _signInManager.Context.User;

[2019-03-02 00:02] ghendo commented on #78
So not sure what you mean by this.
If you mean there is a setting in Cognito that is set to allow or prevent login for unconfirmed user, I cant find such a setting.
If you mean the system should allow sign in for unconfirmed user I get an exception on
                var result = await _signInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false).Config

[2019-03-04 21:54] tachyon1337 commented on #76
[code]

will give you new access and id tokens, but the new refresh token is empty. Is this an app client oauth flow misconfiguration(be default, there is no oauth flow checked in the app client console), or is it a matter of only getting a new refresh token if the old one is expired?

[2019-03-04 22:26] tachyon1337 opened #81 "Null Exception Error for UserManager FindBy* methods"
[code]

generates the null exception error below

[code]

The User Pool is set to allow sign in by username and verified email. However, everything else that I've tested seems to work. GetUsersAsync() works, CreateUser, AddToRoleAsync, getting tokens... all work.

[2019-03-04 22:30] tachyon1337 commented on #68
This issue can be easily remedied by simply creating a created_at custom attribute and setting the value when creating the user.

[2019-03-05 20:34] jlwhitfill commented on #76
For me its just refreshing once it expired or possibly catching it and refreshing it before it expires

[2019-03-06 20:55] klaytaybai commented on #81
Hi @tachyon1337, I wasn't able to reproduce this issue.  Are you still having issues with it?  Which package versions are you using?

[2019-03-06 20:57] klaytaybai commented on #81
Could you provide a more complete stack trace, too?

[2019-03-07 05:14] tachyon1337 commented on #81
Probably because I'm running my tests from a console app. I looked at the source code for CognitioUserManager and it appears the `PopulateTokens` method has a reliance on an injected `IHttpContextAccessor` in order to try to construct a ClaimsPrinciple on the retrieved user.  Obviously, in a console environment, the HttpContext property will be null, hence the null exception.  It looks like you di

[2019-03-07 06:12] tachyon1337 commented on #76
I looked over the docs and did some testing. A SignIn will give you a new accessToken, a new idToken and new refreshToken. The access tokens are good for one hour, at which point the client will need to pass up the cached refreshToken to get a new set of access tokens. The Refresh Token AuthFlow will only send down access tokens.By default, a refresh token is good for 30 days of reuse to fetch new

[2019-03-07 06:28] tachyon1337 commented on #78
`CognitoUser` has a `Status` property and an `email_verified` attribute that you can directly check in an `if...else` statement.

[2019-03-07 11:20] futurify-ydang opened #82 "How to work with ApplicationDbContext"
According to this [blog](https://aws.amazon.com/blogs/developer/introducing-the-asp-net-core-identity-provider-preview-for-amazon-cognito/) we have to remove all references of ***ApplicationDbContext***
in ***Startup.cs*** to work with Cognito provider.

![image](https://user-images.githubusercontent.com/44663784/53953152-3b79f100-4105-11e9-82f6-354313537cb5.png)

But i need ***ApplicationDbContex

[2019-03-07 20:15] jlwhitfill commented on #76
Forutnately in my case I dont need to get granular with roles, but that's interesting how the cognito does and does not map properly to the identity provider.  Just thought it would be nice if it would handle the token refresh automatically like Amplify does.

[2019-03-07 20:47] jlwhitfill commented on #76
Also in many of the readings when you refresh the tokens, it doesnt return a  new refresh token, but you can keep using that token within its default 30 day time frame.  Apparently you have to somehow store the refresh token your self which to me is odd

[2019-03-07 20:53] jlwhitfill commented on #76
@assyadh I tried using the command you gave me:

`await user.StartWithRefreshTokenAuthAsync(new InitiateRefreshTokenAuthRequest() { AuthFlowType = AuthFlowType.REFRESH_TOKEN_AUTH }).ConfigureAwait(false);`

and it immediately throws an exception of an Invalid Refresh token:

`NotAuthorizedException: Invalid Refresh Token.
Amazon.Runtime.Internal.HttpErrorResponseExceptionHandler.HandleException(IE

[2019-03-07 20:55] tachyon1337 commented on #76
For javascript clients operating in the browser, the storage mechanism is localStorage, which is what Amplify uses. It doesn't take long to write your own javascript api client to seamless negotiate token expiration.

[2019-03-07 21:12] tachyon1337 commented on #76
[Use the code I wrote here for getting new access tokens from a refresh token](https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/76#issuecomment-469436895)

The basic workflow is:
(1) pass the tokens down to the client on sign up
(2) client caches the tokens in localStorage
(3) In a service call, have a 401 response handler
(4) 401 response handler grabs the refresh token from loc

[2019-03-07 21:36] jlwhitfill commented on #76
While that looks to work, I'm not sure I want to be initiating Admin commands from my user portal.  Admin commands are for internal Admin consoles to deal with all the user issues internally.  The above method @assyadh posted seems like a better approach, not to demean what you did @tachyon1337 as you have gotten it working for your needs.  I was just hoping there was a non-admin approach

[2019-03-07 22:28] jlwhitfill commented on #76
I found the answer to this @assyadh, I stumbled across this post:

https://stackoverflow.com/questions/46879876/aws-cognito-invalid-refresh-token

If I turn off the REMEMBER DEVICES, then it works, its expecting a device key which I can get from:

`CognitoUser.Devices.DeviceKey`

but I have no where to send that in the `StartWithRefreshTokenAuthAsync `request.

In looking at another issue with the

[2019-03-07 23:21] assyadh commented on #76
Hi,

I am currently out of the office. Thanks for the feedback, I'll have a look when I'll be back late next week.

Thanks again,

H.

[2019-03-08 00:16] tachyon1337 commented on #76
`_identityProvider.InitiateAuthAsync`

works, too.

[2019-03-11 03:26] #82 closed

[2019-03-11 15:10] Salcave opened #83 "Confirm Email Change"
Hi, so I'm trying to enable email change on my app, and I managed to create an email confirmation page by replicating components from the ConfirmAccount and ConfirmEmail models to create the OnPostAsync method below:

[code]
The problem, though, is that I'm receiving a `"Failed to verify the attribute for the Cognito User : 1 validation error detected: Value at 'accessToken' failed to satisfy cons

[2019-03-11 18:25] jlwhitfill commented on #83
Are you sure your user is currently authenticated when you do this?  What you have above is similar to what I have and mine works ok.  When you call the FindByIdAsync method is should return a a user that is authenticated for the ConfirmEmailAsync process to work.

The way you know the user is authenticated is if you look at the CongitoUser returned by the FindByIdAsync method:

`user.SessionToken

[2019-03-11 18:44] Salcave commented on #83
Wow, that was the issue. I hadn't logged the user out in three days and the tokens had expired. Thanks!

[2019-03-11 22:35] jlwhitfill commented on #83
Anytime, Im glad I could assist as Im constantly looking for it myself on other issues :)

[2019-03-11 22:42] jlwhitfill commented on #76
That works too, however, it becomes an issue when I add the [Authorize] attribute to the controller, the CookieAuthorization takes over and redirects to the login page immediately.  I can trap the 401 in the Startup.cs, but I cant seem to implement the usermanager or signinmanager within the startup.cs to refresh the token.  Its almost as if I need to remove the [AUTHORIZE] attribute and handle it

[2019-03-11 23:34] jpmock commented on #41
Hi, I believe I am having this issue as well.  I am using the sample Account app and when I try to register a user I get the following:

`TaskCanceledException: A task was canceled.
System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)`

I am pretty sure my pool is setup correctly and I have all the proper configuration in the appsettings.json

[2019-03-12 03:08] tachyon1337 commented on #76
The Refresh Token endpoint should be `AllowAnonymous`.

You have to change the default authentication schema in `ConfigureServices` to use jwt tokens to override the default behavior of 302 redirects with 401 responses for unauthorized requests. Something like:

[code]

[2019-03-12 19:36] jlwhitfill commented on #76
Its not an API, its a pure MVC website that calls APIs from a separate project.  But I cant set the cookie expiration more than 1 hour, because the Cognito session tokens dont last for more than an hour right?

[2019-03-12 21:44] klaytaybai commented on #83
@jlwhitfill, thanks for helping out :).

[2019-03-12 21:44] #83 closed

[2019-03-13 09:49] ghendo opened #84 "Use multiple user pools"
If I wanted to use multiple User Pools in my application what would I do to implement that?

[2019-03-14 23:53] klaytaybai commented on #84
Hi @ghendo, I don't think this library supports that right now.  Can you tell us more about your particular requirements?  There may be other solutions that we could provide some guidance on.

[2019-03-15 09:05] ghendo commented on #84
I am doing an application dot net core that has multiple sites in one app and would like to keep the users separate in different pools.

[2019-03-16 16:03] josephd9 opened #85 "Creating and Using Roles"
Hello, this might not be the most appropriate place for this question and if it's not I'm sorry. I'm looking for at least a little direction to start. I want to include roles within my app. I don't see on cognito how I add the role nor code for retrieving it. Can anyone at least point me in a good direction?

Thanks!

[2019-03-16 17:04] assyadh commented on #85
Hi,

For this you can use the various User Manager role methods. There is no overload on the CognitoUserManager class as the base ones work with Cognito, only the Store was updated:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/src/Amazon.AspNetCore.Identity.Cognito/CognitoUserStore/CognitoUserStore.IUserRoleStore.cs#L244

The roles map to Cognito groups. So adding a rol

[2019-03-16 17:04] #85 closed

[2019-03-17 16:38] josephd9 commented on #85
I got it working! Thanks so much!

[2019-03-19 05:58] neil-rubens opened #86 "[Authorize(Roles = "<Role>")] doesn't work"
It would be nice to do role based authorization via [Authorize(Roles= "{Role}")]; however currently it doesn't work; in part probably because cognito (groups/roles) are mapped to `cognito:groups`.

p.s. it's one of the examples on the announcement page, so seems like it ought to work: https://aws.amazon.com/blogs/developer/now-generally-available-the-asp-net-core-identity-provider-for-amazon-cogni

[2019-03-19 17:04] assyadh commented on #81
If you are running from a console app then the HttpContext is most likely null as you said.

I will add some safeguarding around that property

[2019-03-19 17:18] tachyon1337 commented on #86
That is the sole reason.

Not that I know of. I had to write a custom authorization handler, attribute, policy provider and requirement to implement group(role) based authorization. Something like:

[code]

[2019-03-19 17:21] tachyon1337 commented on #84
Roll a custom abstraction and implementation around the `IAmazonCognitoIdentityProvider` in the AWS SDK. The IdentityProvider Client's constructor signature
[code]
doesn't rely on any appclient or userpool settings; those values are set in the request object params in the individual client api calls. So it would be possible to do it consistent with dependency injection but not using the AspNetCore

[2019-03-19 17:22] assyadh commented on #80
Would you mind sharing how your config file looks like, Please make sure to REMOVE any secrets, it looks like some parsing is not going well

[2019-03-19 17:32] tachyon1337 commented on #76
Hmm, glancing at the source code, you may be right. The Cognito SignInManger override method for SignInAsync
[code]

appears to pass in the Cognito User Session values into a created instance  of AuthenticationProperties and then calls the base AspNetCore SignInAsync overload method with that instance. I'm not using cookie auth with Cognitio, so I haven't tested it. But you could circumvent that b

[2019-03-19 19:02] andsee commented on #80
Thank for continuing to look into this for me. Here is the appsettings.json

[appsettings.zip](https://github.com/aws/aws-aspnet-cognito-identity-provider/files/2985115/appsettings.zip)

[2019-03-19 19:11] andsee commented on #80
The above appsettings is from the app I tried adding cognito to the following
[appsettings.zip](https://github.com/aws/aws-aspnet-cognito-identity-provider/files/2985194/appsettings.zip) is the one I'm using within the sample

[2019-03-19 21:50] assyadh commented on #80
I get the same error when using a malformed json with dummy string values such as:

[code]

UriFormatException: Invalid URI: The hostname could not be parsed.

Are you sure you are editing the appsettings.Development.json and not the appsettings.json?

The appsettings.Development.json is the one loaded while running the app inside Visual Studio

[2019-03-19 22:54] #81 closed

[2019-03-19 23:29] assyadh commented on #81
This should fix it: https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/0.9.0.12

[2019-03-19 23:29] #35 closed

[2019-03-20 04:33] neil-rubens commented on #86
Thanks.  Also `GroupAuthorize`  is a nice name for the policy.   Looks like a similar issue was also encountered with AD Groups: https://www.moonlightbytes.com/blog/mvc-windows-authentication-with-ad-groups

[2019-03-20 05:43] tachyon1337 commented on #86
Yeah, the trick is get it to work just like roles,  that is, a single policy can handle an arbitrary comma delimited string of groups in the attribute constructor without having to wire up a separate policy in startup for each group or group combinations.

[2019-03-20 15:24] Nashuim opened #89 "Empty Read and Write attributes list should assume all attributes are readable and writable"
Currently, the code to get a user's attribute that's used in places such as `UserManager.IsEmailConfirmedAsync` checks the user pool client configuration to see if the client has permissions to read that attribute.

But the code goes against what Cognito says:

Would it be possible to make a change to the implementation to guarantee the same thing?

[2019-03-20 20:36] assyadh commented on #84
Hi,

This is currently not supported. In essence, the Identity membership system is designed to hit one source of data (one SQL database by default).

You could get around this, but you would have to do dual reads for a lot of the manager methods (FindByEmail etc).

Also you would have to do some arbitrage on where you want to do the writes.

as @tachyon1337 commented, one way is to implement your

[2019-03-20 20:41] assyadh commented on #66
Closing in favor of an internal issue

[2019-03-20 20:41] #66 closed

[2019-03-20 20:42] assyadh commented on #68
I'll close this, as a workaround is available, we may pull this into v2

[2019-03-20 20:42] #68 closed

[2019-03-20 20:47] assyadh commented on #89
Hi.

In the Attributes section of you app client you can actually set granular read/write permissions on attributes.

While I agree this is a cosmetic check, I think it's better than letting the api call fail.

Can you explain where you read the following as well as your use case? I may change this behavior depending on the feedback

[2019-03-20 20:50] Nashuim commented on #89
I don't want the check to be removed, just changed to match Cognito's behaviour. Right now Cognito will consider all attributes to be readable/writable if you don't select any.

I saw that statement in Cognito itself. In the client attribute management section. It's what's shown if you don't select any attribute.

[2019-03-20 22:30] assyadh commented on #89
If the attributes are readable/writable then the check will pass, so it has no impact. I am missing something?

[2019-03-20 23:05] Nashuim commented on #89
If NO attributes are marked as readable the check will fail but Cognito
says that if no attributes are readable then they all are. I wanted that
logic in the user store as well. Right now we have to mark every attribute
as readable manually.

A quarta, 20/03/2019, 22:30, Hamza Assyad <notifications@github.com>
escreveu:

[2019-03-21 01:57] neil-rubens commented on #86
I think this could be done with the [Custom Authorization Policy Providers](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/iauthorizationpolicyprovider?view=aspnetcore-2.2)

[2019-03-21 02:10] tachyon1337 commented on #86
Yeah, that's exactly how I did it.

[2019-03-22 00:19] #76 closed

[2019-03-22 00:40] assyadh commented on #76
The version 0.9.0.13 should fix this as it implements the RefreshSigninAsync method

[2019-03-22 04:22] futurify-ydang commented on #85
Hi guys,
I have added user to *Admin* role by using the following code but i faced an exception.
I also have tried to manually add a group with name **Admin** to aws cognito but the exception still exist
Please give me a help!
Thanks

*Code*
[code]

*Exception*
[code]

[2019-03-22 16:23] jlwhitfill commented on #76
This doesnt look like it will work correctly if you have remember devices turned on.  The process also requires a device id to be sent in the auth params which is not referenced in any of this code.  When the remember devices is turned off, the StartWithRefreshTokenAuthAsync works correctly.  A few messages above, I had done some testing and replied:

[Previous Message](https://github.com/aws/aws-

[2019-03-25 07:47] futurify-ydang opened #92 "Manage Group of user pool"
Hi guys,

Accordingly this [doc](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-user-groups.html) I found these sentences.
![image](https://user-images.githubusercontent.com/44663784/54902716-b5371a80-4f0c-11e9-8573-a696c502eec1.png)

I want to use APIs to manage groups and users of those groups. How can i do that?
Please give me a help! Thanks

[2019-03-25 16:58] klaytaybai commented on #92
Hi @futurify-ydang, you can use the aws-sdk-net to manage user groups.  Check out the classes in [CognitoIdentityProvider](https://github.com/aws/aws-sdk-net/tree/master/sdk/src/Services/CognitoIdentityProvider).  Also see https://www.nuget.org/packages/AWSSDK.CognitoIdentityProvider/

[2019-03-25 17:13] assyadh commented on #92
Hi,

As @klaytaybai mentioned, you can use the SDK, or directly use the RoleManager from Identity.

In this library we have mapped roles to groups, so creating a new role creates a new group etc..

You can have a look at the doc here: https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/docs/7-User%20Roles.md

[2019-03-25 17:13] #92 closed

[2019-03-26 11:23] futurify-ydang commented on #92
Thanks @klaytaybai  @assyadh

[2019-03-27 03:07] ghendo opened #95 "forgotpassword"
What is the procedure to implement forgot password

[2019-03-27 04:05] assyadh commented on #95
Hi.

You can find the different methods to use here:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/docs/5-User%20Management%20-%20Change%20and%20reset%20passwords.md#send-a-confirmation-token-to-a-cognitouser-to-reset-its-password

There is also an example in the sample application:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/samples/Samples/

[2019-03-27 04:05] #95 closed

[2019-04-04 21:54] biznearme opened #96 "Help Wanted - Request Signature We Calculated Does Not Match"
"AWS": {
    "Region": "Value Entered is:  us-east-1",
    "UserPoolClientId": "Value Entered is: User Pool -> My Pool -> App Client Id",
    "UserPoolClientSecret": "Value Entered is: User Pool -> My Pool -> App Client Secret",
    "UserPoolId": "Value Entered is: General Settings - Pool Id"
  },
  "AllowedHosts": "*"
} Run the register postback. I get this error.

An unhandled exception occurred

[2019-04-04 21:57] assyadh commented on #96
The values you entered look correct.

[2019-04-05 04:32] biznearme commented on #96
When I fill out the register (new account) form and submit the form.  Occurs on page Register.cshtml.cs:
When the userManager.CreateAsync function is called.
No white spaces in the settings.

public async Task<IActionResult> OnPostAsync(string returnUrl = null)
        {
            returnUrl = returnUrl ?? Url.Content("~/");
            if (ModelState.IsValid)
            {
                var us

[2019-04-05 04:35] biznearme commented on #96
I have not added any of the other AWS DotNet SDKs yet as this is a blank (standard DotNet Core template) project and I was first trying to get it to substitute Cognito for the normal DotNet db/authentication before adding anything else in.

[2019-04-05 04:47] biznearme commented on #96
The code that is being executed is ported in verbatim from:
So created a brand new project, ported in "all" code/references/libraries/etc.

https://github.com/aws/aws-aspnet-cognito-identity-provider/tree/master/samples/Samples

[2019-04-05 04:53] biznearme commented on #96
I would just like to get it to work.  I can upload the entire project for you if you like.  What I did is a newer update from your original sample project with regards to the DotNet version used.   I could simply delete the Cognito accounts and create new ones afterwords.  If we get it to work you could post this as a "new/updated" working sample for the community.

[2019-04-05 05:11] ghendo opened #97 "custom attributes"
When registering a new user I wish to set a custom attribute
var user = _pool.GetUser(Input.Email);
                user.Attributes.Add(CognitoAttribute.Email.AttributeName, Input.Email);
                user.Attributes.Add(CognitoAttribute.GivenName.AttributeName, Input.GivenName);
                user.Attributes.Add(CognitoAttribute.FamilyName.AttributeName, Input.FamilyName);
                us

[2019-04-05 06:06] assyadh commented on #97
Hi,

You need to set up write permissions in your app client settings for this specific attribute.

This is done in the AWS Console for Cognito.

H.

[2019-04-05 06:06] #97 closed

[2019-04-05 06:18] ghendo commented on #97
I have set the mutable to yes if that is whT you mean?

[2019-04-05 20:54] biznearme commented on #96
I tried loading/running your Samples.sln project.  It does compile but it errors out when you try to run it.

An unhandled exception occurred while processing the request.
UriFormatException: Invalid URI: The hostname could not be parsed.
System.Uri.CreateThis(string uri, bool dontEscape, UriKind uriKind)

TargetInvocationException: Exception has been thrown by the target of an invocation.
System.

[2019-04-05 20:55] biznearme commented on #96
I did put in the appsettings.json settings similar to my own project as they are missing in the sample of course.

[2019-04-09 22:49] TheCrawlingChaos opened #98 "SocketException "Device not configured" when running the sdk on macos"
I am trying to do the development on macos and when I try to run the code, I get a  SocketException "Device not configured ".

I am wondering if others have encountered this error before.

[code]

[2019-04-10 14:30] Artin-ST opened #99 "Trying to get tokens and Current User"
Im creating an .net core MVC POC app using Visual Studio for Mac.

I'm able to sign in successfully however I'm not able to get the access token for the current user. I'm also not able to get the current user.

    public class AccountController : Controller
    {
        private readonly SignInManager<CognitoUser> _signInManager;
        private readonly ILogger<AccountController> _logger;

[2019-04-15 11:06] simax opened #100 "Operation canceled exception when trying to use AdminDeleteUserAsync"
[code]
Executing the code above is throwing an exception (**"The operation was canceled."**)

I wonder if this is related to [issue 41](https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/41)?

I tried some of the advice mentioned on the other issue like passing an access key and secret (which I don't want to do anyway) and also adding the "AmazonCognitoPowerUser" policy to my IAM a

[2019-04-15 15:10] sstevenkang commented on #100
This seems to be IAM permission issue. Why do you think this is a bug in the library?

[2019-04-16 09:01] simax commented on #100
Yep, you're right. After some further digging it was an IAM permission issue.

[2019-04-16 09:01] #100 closed

[2019-04-17 17:44] assyadh commented on #96
Hi,

This definitely looks like a credentials issue.

You don't need to add any other SDK, they are already referenced by the NuGet packages.

Sorry for not responding earlier, I have been pulled into various other issues.

Can you follow the instructions here:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/docs/1-Setup.md

Especially around setting up the Visual Studio T

[2019-04-17 17:49] assyadh commented on #99
Can you try using this overload:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/src/Amazon.AspNetCore.Identity.Cognito/CognitoSigninManager.cs#L103

You may want to call something like

`var user = await _userManager.FindByNameAsync(login.UserName);`

Then this overload:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/samples/Samples/Areas/Identit

[2019-04-17 17:50] assyadh commented on #84
Resolving, feel free to reopen if you have any other questions

[2019-04-17 17:50] #84 closed

[2019-04-17 19:05] biznearme commented on #96
Thanks for the reply.  I do appreciate the kind offer.  I have already moved back to Azure for this particular project.  I ran through my allocated time budget for R&D on the AWS stack and it appeared that many more hours could be burned before I even got to a productive eval stage.  Had to move on.

Regards,

Les Baker

From: Hamza Assyad <notifications@github.com>
Sent: Wednesday, April 17, 2019

[2019-04-17 20:01] assyadh commented on #78
Closing. Feel free to reopen if you need help

[2019-04-17 20:01] #78 closed

[2019-04-17 20:02] assyadh commented on #96
Might be related to: https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/80

[2019-04-18 15:09] Artin-ST commented on #99
Thank you for the help,

I tried both FindByNameAsync and FindByEmailAsync and while they do return the user object SessionsTokens is null.

Regarding moving to another page this did work for me.

    public class DashboardController : Controller
    {
        private readonly ILogger<DashboardController> _logger;

        public DashboardController(ILogger<DashboardController> logger)
        {

[2019-04-18 17:02] assyadh commented on #99
Yes, the context object is updated when accessing another page.

[2019-04-18 17:08] assyadh commented on #99
The user instance Session Tokens should be updated after calling the PasswordSigningAsync. Can you check that?

[2019-04-18 17:38] Artin-ST commented on #99
[code]

If I sign in like above, the session tokens are populated, however there is no way that I see to get the CognitoUser with populated session tokens when using the overload from the sample.

This raises another question for me, when I need to refresh the access token/id token using the refreshtoken the method RefreshSigninAsync requires a CognitoUser, does this user need to have SessionToken

[2019-04-19 17:15] assyadh commented on #99
Would you mind sharing a sample app that reproduce the error? Please make sure to not include secrets.

As you can see below, we populate the user tokens from the Context when calling UserManager.GetUserFrom* methods:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/src/Amazon.AspNetCore.Identity.Cognito/CognitoUserManager.cs#L136

This is also called by the RefreshSigninAs

[2019-04-23 21:34] #98 closed

[2019-04-25 10:08] jochencschmidt opened #101 "Authorization always fails with 404"
I've implemented the authorization exactly as described in the Readme, but when I use the [Authorize] attribute for any controller method, I always get the following error:

Microsoft.AspNetCore.Authorization.DefaultAuthorizationService: Information: Authorization failed.
Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker: Information: Authorization failed for the request at filter 'Microso

[2019-04-27 15:08] iApartmentDPL commented on #41
hi , in my case for registration after using access and secret access key i just change
  user.Attributes.Add(CognitoAttributesConstants.Email, Input.Email) to
 user.Attributes.Add("email", Input.Email);

[2019-04-29 18:37] rajausman opened #102 "Use Amazon Cognito with Amazon RDS"
Hye ! I am new in AWS cognito and little bit confused while using aws-aspnet-cognito-identity-provider please help me out .
1) Is this identity only for giving access or permission to use other aws services after sign-in and sign-up feature or it will behave like asp.net core identity in which you can migrate your schema and tables are automatically generated in SQL Server ?
2) Can this identity p

[2019-04-30 15:20] edcastanohunter opened #103 "Error on startup"
Hi,

I am having the following error when try to run an asp.net core 3.0 app.

`System.TypeLoadException: 'Method 'NormalizeName' in type 'Amazon.AspNetCore.Identity.Cognito.CognitoKeyNormalizer' from assembly 'Amazon.AspNetCore.Identity.Cognito, Version=1.0.0.0, Culture=neutral, PublicKeyToken=885c28607f98e604' does not have an implementation.'

![image](https://user-images.githubusercontent.com/

[2019-04-30 15:22] edcastanohunter commented on #103
These are the nuget package versions that I am using.
![image](https://user-images.githubusercontent.com/7706479/56973128-d9040680-6b31-11e9-80e4-98fc2f8281d1.png)

[2019-04-30 17:05] klaytaybai commented on #103
Hi @jpeddicord, could you please provide a stack trace?

[2019-04-30 17:06] klaytaybai commented on #103
Hi @edcastanohunter, could you please provide a stack trace?

[2019-04-30 17:08] edcastanohunter commented on #103
Of course,
`   at Microsoft.Extensions.DependencyInjection.CognitoServiceCollectionExtensions.InjectCognitoUser[TUser](IServiceCollection services, Action`1 identityOptions)
   at Microsoft.Extensions.DependencyInjection.CognitoServiceCollectionExtensions.AddCognitoIdentity(IServiceCollection services, Action`1 identityOptions, String prefix)
   at WebAdvert.Web.Startup.ConfigureServices(IServiceC

[2019-04-30 17:22] assyadh commented on #103
Hi,

Related to https://github.com/aspnet/AspNetCore/issues/8572

This looks like a breaking change on ASP.NET Core 3.0 preview 4, which you are running.

Thanks for reporting this, I will look into what's the best course of action

[2019-04-30 17:26] edcastanohunter commented on #103
Thanks to you too for your support, I will keep an eye on this.

[2019-04-30 18:33] assyadh commented on #102
Hi,

This Library will substitute the usual Microsoft SQL Server Identity tables (in conjunction with Entity Framework) with Amazon Cognito:

https://aws.amazon.com/cognito/?nc1=h_ls

Amazon Cognito lets you add user sign-up, sign-in, and access control to your web app and handles the user backend for you.

In addition, you can then retrieve AWS Credentials of logged in users to query other AWS Se

[2019-04-30 18:33] #102 closed

[2019-05-02 19:47] #96 closed

[2019-05-12 02:27] gilfoyle-predictile commented on #101
Me too! I found that this additional code allows the `[Authorize]` attribute work as expected.

[code]

[2019-05-13 09:34] jochencschmidt commented on #101
Thanks for the information. I'm not quite sure if this really solves the described problem. I think you can even remove the line services.AddCognitoIdentity(); completely and your solution would still work. It's just the standard implementation of an JWT bearer token for authentication/authorization. Can you use the cognito-specific features, such as [Authorize(Roles = "Admin")] with you solution?

[2019-05-22 08:43] LUS1N opened #104 "Parsing claims from Cognito User Pool Authorizer"
Hi,

In my architecture the API calls are coming in through API Gateway, where a CUP lambda authorizer is invoked for token validation and then the request is proxied to an ECS container running an ASP.NET Core 2.1 app.

How would I reach the claims injected by the authorizer?

When running asp.net core on lambda they would get injected together with the event, but since this is running on Kestrel

[2019-05-29 17:21] hivie7510 commented on #98
This still happens on macOS.  The reason that it has to do with this library is that this happens when calling AmazonCognitoIdentityProviderClient.SignUp.  This may be a missed configuration on our part, but I am not sure where to look for an answer.

[2019-05-30 20:15] jhakooz opened #105 "Request - Add External Login Example"
This is just a friendly request...

I'm trying to implement Cognito Identity Provider with an app that ONLY allows users to sign up via Google, Facebook and other social providers.

The [ASPNet Core Identity Sample](https://github.com/aspnet/AspNetCore/tree/master/src/Identity/samples/IdentitySample.Mvc/Views/Account) has ExternalLoginConfirmation.cshtml and ExternalLoginFailure.cshtml pages.

It

[2019-06-03 06:52] ghendo opened #106 "verifying emails"
I am creating a new user programatically
var result = await _userManager.CreateAsync(user).ConfigureAwait(false);
and I would expect a "verify email" email with token to be sent but none is sent.
Do I need to trigger this?

[2019-06-03 22:49] oooolivierrrr opened #107 "What's the migrations for in the sample project ?"
Hi,

I was under the impression that the cognito service is handling everything (data wise). Roles, claims, users, etc... all datas that usually went into a local database.

Also, I was wondering if it was possible to reuse the identity library that come with asp.net core instead of using what's in the sample. There's some minor differences between the two and I was wondering why (for example) "co

[2019-06-04 21:37] klaytaybai commented on #106
Can you try SendEmailConfirmationTokenAsync?

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/3097bafe2d73f58caef01a34cc55218dcc8e6278/src/Amazon.AspNetCore.Identity.Cognito/CognitoUserManager.cs#L438

[2019-06-05 05:31] kawaic commented on #101
I am also having the same problem, it does not seem to be checking the bearer token at all.   Authentication works only when using cookies.
Adding the following forces triggering of the JwtBearerHandler but fails
`            services
                .AddAuthentication(options =>
                {
                    options.DefaultAuthenticateScheme = JwtBearerDefaults.AuthenticationScheme;

[2019-06-05 14:16] jhakooz commented on #105
Closing this. Posting a new more specific request...

[2019-06-05 14:16] #105 closed

[2019-06-05 14:39] jhakooz opened #108 "FindByLoginAsync - External Providers"
AWS Cognito Provider does not appear to include the external provider functionality (Sign in with Google, Facebook, etc...)

When attempting to use ExternalLoginSignInAsync I get the following error...

I can provide a more detailed error if that would help.

**My question...**
Are there any plans to include FindByLoginAsync so we can use the cognito provider with external logins? That would be aw

[2019-06-06 13:18] joseph-adam opened #109 "Reset Password Flow Using GeneratePasswordResetTokenAsync"
It seems if you use GeneratePasswordResetTokenAsync to generate your own reset token it will not work in conjunction with ResetPasswordAsync.  It may be that the only way to initiate a password reset flow is to have Cognito generate the password reset email directly.

[2019-06-07 23:17] assyadh commented on #107
Hi,

This is the goal of this library, it will substitute cognito to sql server.

Please have a look at the docs, this will probably help: https://github.com/aws/aws-aspnet-cognito-identity-provider/tree/master/docs

Also, The CognitoUser class brings more features than the IdentityUser class, and to be able to dependency inject it, it was a better design to force a Cognito specific class.

[2019-06-07 23:17] #107 closed

[2019-06-07 23:19] assyadh commented on #108
Hi,

Indeed it is not supported in V1, We are thinking of including this in the next versions, but a design decision will need to be made between how Cognito handles the external providers VS how Identity also handles them.

[2019-06-07 23:24] assyadh commented on #109
Hi,

You can have a look at this doc explaining which api to call for the reset workflow:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/docs/5-User%20Management%20-%20Change%20and%20reset%20passwords.md

The apis are slightly different due to the nature of the workflow difference between Identity and Cognito.

As you mentioned, Cognito can not 'generate' a token, it only

[2019-06-07 23:24] #109 closed

[2019-06-08 13:15] jhakooz commented on #108
I think that functionality would be incredibly useful and hope you decide to implement it. Again, thanks for all the work you've done!

[2019-06-08 13:15] #108 closed

[2019-06-08 20:36] assyadh commented on #106
Hi,

The token is automatically sent to the provided attributes (email or phone) to the CreateAsync method.

As klaytaybai said, if for some reason you do not receive it, you can use SendEmailConfirmationTokenAsync to resend it.

This is described in the docs folder.

[2019-06-10 19:12] Salcave commented on #106
Hello, I've run into a similar issue. I have a user pulled form my user manager, and then check to see if the email has been verified. When it has not, I'd like for a confirmation token to be sent to the user's email. Below is a snippet of the code that I'm using:
[code]
On execution, though, I get the following error when I step into the SendEmailConfirmationTokenAsync method:
[code]

[2019-06-10 19:29] flgatormike commented on #103
Is there any update on this? Or any work-around? Thanks!!

[2019-06-10 23:32] klaytaybai commented on #106
Hi @Salcave, it may be that your user is not logged in, which is a prerequisite of GetUserAttributeVerificationCodeAsync and, by extension, SendEmailConfirmationTokenAsync.  Could you please verify that the user is logged in and let us know if that works once that's true?

[2019-06-10 23:35] klaytaybai commented on #106
@ghendo, you may also be having problems if you are verifying both the email and phone number.

Per this documentation on [Configuring Email and Phone Verification](https://docs.amazonaws.cn/en_us/cognito/latest/developerguide/user-pool-settings-email-phone-verification.html),

[2019-06-11 19:09] blaisealicki opened #110 "Unable to see Enabled status on CognitoUser"
I'm porting an existing app into Cognito and have a requirement for administrators to be able to enable and disable accounts.  I'm looking at the results of GetUsersAsync and it looks like the List<UserType> Users on the response have the Enabled field, but that isn't carried onto CognitoUser. Is there a way to read and write to the Enabled field that I am missing?

[2019-06-12 14:18] Salcave commented on #106
Hi @klaytaybai,

Before checking for email confirmation I have the user signed in through the manager and make sure it's successful before checking if their email is confirmed

                var result = await _signInManager.PasswordSignInAsync(Input.UserName, Input.Password, Input.RememberMe, lockoutOnFailure: false);
                if (result.Succeeded)
                {
                    i

[2019-06-13 18:33] klaytaybai commented on #110
You should be able to do this by using the AdminEnableUser and AdminEnableUser methods on the AmazonCognitoIdentityProviderClient found in AWSSDK.CognitoIdentityProvider.

[2019-06-16 19:38] arek159 commented on #103
Same problem, looking for a solution 👍

[2019-06-16 21:31] assyadh commented on #103
Hi,

This is not the only backward incompatible change coming with 3.0.  We are still weighing our options.

In the meantime can you guys share what are your use cases requiring the preview 3.0 of ASP.NET Core?

This may help our decision

[2019-06-16 21:32] assyadh commented on #103
@flgatormike, the current workaround is to downgrade to 2.1. 3.0 is stil in dev preview.

[2019-06-17 07:29] arek159 commented on #103
My company has started developing a new project and our customer wanted to use the newest libraries, that's the only reason of using 3.0. We have switched to .net core 2.2 and it works :)

[2019-06-20 19:14] flgatormike commented on #103
We are currently using it with .net core 2.2 with no issues. We will be starting some new projects soon that will probably use the latest .net core and will have to make a decision at that time whether to continue using Cognito, I guess. Thanks.

[2019-06-25 14:56] flgatormike opened #111 "Issue signing into Cognito when running site on Ubuntu server"
At my work we have used this provider on a Windows server without issue. I am doing some side project for my daughters band and want to use it, however I run my ASP.NET core sites from an Ubuntu server. And when I call:

var result = await _signInManager.PasswordSignInAsync("email", "password", false, lockoutOnFailure: false);

I get:

502 Bad Gateway
nginx/1.14.0 (Ubuntu)

If I run the same code

[2019-06-25 16:53] blaisealicki commented on #110
That works for me, thanks. I would like to see the Enabled property carried over to the CognitoUser and populated by default when calling GetUsersAsync, but I'm able to work around it.

[2019-06-25 16:53] #110 closed

[2019-06-25 16:57] assyadh commented on #110
Hi @blaisealicki, Feel free to submit a PR, I would be happy to review it and get it merged.

H.

[2019-06-25 16:59] flgatormike commented on #111
I checked the nginx log and saw this:
"upstream sent too big header while reading response header from upstream"
So it's probably just a configuration I can change on my server.

[2019-06-25 16:59] #111 closed

[2019-06-28 15:11] cmcclellen opened #112 "Registration example not working"
https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/d40b035c6661f6def500f9521bf80b9e8e845eea/samples/Samples/Areas/Identity/Pages/Account/Register.cshtml.cs#L79

In the registration example, it tries to sign you in after createuserasync, but the login fails because the email is unconfirmed, causing an exception before getting to confirmemail.

I didn't see a way to allow login with un

[2019-06-28 15:22] assyadh commented on #112
Hi,

Thanks for reporting this.

Can you share your user pool settings around user confirmation and logging?

This has to do with how user pools are configured.

[2019-06-30 14:31] Procee opened #113 "System.OperationCanceledException while interacting with UserManager"
EDIT: I used the example code as described here https://aws.amazon.com/blogs/developer/introducing-the-asp-net-core-identity-provider-preview-for-amazon-cognito/

When calling _userManager.CreateAsync I get the following exception:

[code]

Using the following packages:
[code]
Could someone help me with this?

[2019-06-30 14:59] Procee commented on #113
Installing AWS tools and calling 'AWS configure' seems to have resolved the problem.

[2019-06-30 14:59] #113 closed

[2019-07-01 01:31] keithbeller commented on #112
I'm having an issue with registration too.  I get an "AmazonCognitoIdentityProviderException: The security token included in the request is invalid."

I configured my cognito app using the step provided in this quick video from AWS.
https://www.youtube.com/watch?v=LcD_-p1gCww

[2019-07-01 21:33] keithbeller opened #114 "The security token included in the request is invalid"
I've manually added a user the General Settings > Users and groups.

I launch the application locally, navigate to the login page, enter creds from the account and get the following error message when submitting the login request:

[code]

# App Configuration
Using the latest Sample application unmodified.
appsettings.Development.json set as follows:
  "AWS": {
    "Region": "us-east-1", // value

[2019-07-02 16:55] klaytaybai commented on #114
Hi @keithbeller, this is most likely due to invalid [AWS credentials](https://docs.aws.amazon.com/sdk-for-net/v3/developer-guide/net-dg-config-creds.html).  Can you please check your credentials setup and provide us with more information about how you're using credentials if you are still experience an issue.

[2019-07-04 21:24] scionwest commented on #114
@klaytaybai I'm experiencing this as well. I just issued myself brand new IAM User credentials that have *Administrator Access* attached as a policy. When I use this SDK, I receive the same exception.

[2019-07-08 18:30] klaytaybai commented on #114
@scionwest are you using the VS Toolkit?

[2019-07-09 00:12] scionwest commented on #114
@klaytaybai at one point in VS 2017 I was. I’ve since uninstalled the toolkit and VS 17; using VS 19 vanilla now.

[2019-07-13 02:18] scionwest commented on #114
Is there any update to this or other ways I can receive help? Our Enterprise support said we need to post this to GitHub to receive support. I’ve not been able to get this answered though.

It’s starting to get frustrating that the only way to get support on an Amazon SDK item is on GitHub. Why can’t these items be covered by our (expensive) Enterprise support agreement?

[2019-07-15 18:44] assyadh commented on #114
Hi @scionwest, Can you please make sure you have a credential file with a default profile:

https://docs.aws.amazon.com/sdk-for-net/v3/developer-guide/net-dg-config-creds.html#creds-file

It may be that due to the VS19 without toolkit installed you don't have any creds being picked up.

This really look like a credentials / wrong user pool secret issue because of the computed hashes.

[2019-07-15 19:49] klaytaybai commented on #114
It may also be helpful for us if you can provide an example of how you are naming your profile in the credentials file.

[2019-07-18 09:49] Talento90 opened #115 "Random OperationCanceledException"
Hello, I am using `AmazonCognitoIdentityProviderClient` to create users using the the following method `AdminCreateUserAsync` and then `AdminSetUserPasswordAsync`. Most of the times it works perfectly but some times it throws `System.OperationCanceledException`. It seems that the Http Client is timing out randomly...

Framework: .NET 4.5.x

[code]

[2019-07-19 19:41] klaytaybai commented on #115
This sounds like it might be tricky to reproduce and investigate.  Are you able to provide us with any more information that might help?   How is your network connection?  What environment are you running in?  How are you using credentials?  What is your timeout set to?

[2019-07-22 11:56] Talento90 commented on #115
Yes, it's quite tricky. We are running our application as App Service in Azure (North Europe). We are using the default Timeout, I have not change any configuration.

[2019-07-22 21:34] assyadh commented on #115
Hi @Talento90 ,

How are you creating your UserPool client and AmazonCognitoIdentityProviderClient object?

How do you handle the credentials?

H.

[2019-07-22 21:37] assyadh commented on #104
I am not sure this library would solve your problem. This library substitute SQL Server for Amazon Cognito inside a .NET Core web app for authentication purposes

[2019-07-22 21:39] assyadh commented on #103
Hi,

I still have this issue in my radar, we will support .NET Core 3.0 when it will be GA in addition to netstandard2.0

H.

[2019-07-23 09:46] Talento90 commented on #115
UserPool is created manually using the AWS Cognito UI.

Basically we just create a `BasicAWSCredentials` using key and secret.
[code]

[2019-07-27 20:39] scionwest commented on #114
[code]

[code]

I've fully uninstalled Visual Studio, all of the extensions, cleaned up any environment variables I had that were related to the AWS SDK, blown away the credentials/config files and re-generated them with `aws configure` and I get the same error. It doesn't matter what API I use at this point... Even CLI commands are failing for me to AWS. Somehow, my local credentials are screwed

[2019-07-31 06:53] #104 closed

[2019-08-13 08:33] todor-mutafov opened #116 "Password Validation for special symbols is bugged"
The condition in the following line doesn't look right to me:
https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/d40b035c6661f6def500f9521bf80b9e8e845eea/src/Amazon.AspNetCore.Identity.Cognito/CognitoPasswordValidator.cs#L66

When the validator requires special symbols, this condition doesn't allow passwords that start with special symbols, since then `IndexOfAny` returns `0` and the

[2019-08-13 16:43] klaytaybai commented on #116
Thanks.  I believe you are right.

[2019-08-13 17:00] #116 closed

[2019-08-13 18:01] assyadh commented on #116
Hi,

Version 1.0.2 should be available shortly and solves the problem.

Thanks for reporting it.

Hamza.

[2019-08-16 20:22] drwerewolf opened #118 "_signInManager.PasswordSignInAsync throws OperationCanceledException when aws access keys are not configured"
Steps to reproduce:
1. Download 'Sample' application from here: https://github.com/aws/aws-aspnet-cognito-identity-provider/tree/master/samples
2. Update AWS region, user pool ID, client I and client secret in 'appsettings.Development.json' file.
3. Start the application.
4. Click on Login link and try to login.

Result:
The application crashes with the following stack trace:
[code]

The issue dis

[2019-08-19 05:44] chuckconway commented on #103
I'm working with 3.0 Preview 8 and I'm encountering this issue. Is there any plans to support .net standard 2.1?

[2019-08-19 09:13] assyadh commented on #103
Yes, I will get that merged this week, stay tuned!!

[2019-08-19 16:59] #112 closed

[2019-08-19 19:17] assyadh commented on #103
Another breaking change: https://github.com/aspnet/Announcements/issues/374

[2019-08-19 21:20] assyadh opened #120 "Simplify constructor cast"
See the comments on https://github.com/aws/aws-aspnet-cognito-identity-provider/pull/119

In multiple constructors, we are doing:

[code]

We could just hard cast the second instruction.

[2019-08-19 21:53] assyadh commented on #103
Hi everyone,

Here is a preview build of the library supporting the ASP.NET Core 3.0 target.

We are trying to get the official 1.0.3 out for the GA of .NET Core 3.0

[Amazon.AspNetCore.Identity.Cognito.1.0.3.nupkg.zip](https://github.com/aws/aws-aspnet-cognito-identity-provider/files/3517828/Amazon.AspNetCore.Identity.Cognito.1.0.3.nupkg.zip)

Let me know if that unblocks you or not.

Thanks!

[2019-08-23 13:14] bertrandm commented on #103
@assyadh The version you posted works for me on DotNet 3.9 SDK version dotnet-sdk-3.0.100-preview8-013656. Do you have an ETA when it will be available on Nuget?

[2019-08-25 22:08] harsimranb commented on #108
This functionality would be very useful to us as well - it helps us build and control a custom auth flow for our asp.net web app.

[2019-08-28 16:44] genii90 opened #121 "OpenIdConnectParameterNames.ExpiresIn property is null"
After a user has been logged in, I attempt to get the value of:
`HttpContext.GetTokenAsync(OpenIdConnectParameterNames.ExpiresIn) `

which always returns null.

However the following returns a value:
`HttpContext.GetTokenAsync(OpenIdConnectParameterNames.AccessToken)`

I would like to check whether an access token is expired before trying to use it. How can I retrieve the value of HttpContext.GetT

[2019-08-29 21:44] klaytaybai commented on #121
If you have your CognitoUser, you can get the expiration time via CognitoUser.SessionTokens.ExpirationTime

[2019-08-30 00:52] genii90 commented on #121
Thanks. It worked.

[2019-08-30 00:52] #121 closed

[2019-09-03 06:55] ghendo opened #122 "stay logged in"
I find that no matter what settings I use in the startup I can never have users logged in for more than around 30 min.  I am beginning to suspect cognito is causing this?  Is this possible?

[2019-09-03 17:03] flgatormike commented on #118
I get this same error.

[2019-09-03 18:11] assyadh commented on #118
Hi,

Underneath, the library uses the .NET SDK for AWS, which needs credentials stored locally in your coding environment.

We recommend installing the AWS Toolkit for Visual Studio and creating a default profile to manage your Access Keys and Secret Keys.

https://docs.aws.amazon.com/toolkit-for-visual-studio/latest/user-guide/setup.html

You can find more information on the AWS SDK for .NET on t

[2019-09-03 18:11] #118 closed

[2019-09-03 18:27] flgatormike commented on #118
Thanks

[2019-09-03 22:01] drwerewolf commented on #118
@assyadh,
Taking into the account that this SDK requires AWS access key and secret key, it is not clear to me why it also requires UserPoolClientId and UserPoolClientSecret parameters. I would expect that since the application already has access to the user pool using access key and secret key, it should not require anything else.

What is the reason for this SDK requiring UserPoolClientId and Use

[2019-09-04 10:06] Talento90 commented on #115
@assyadh At this moment my wrapper around Cognito is a Singleton should I change for a lifetime request? Cognito client has some kind of lifetime?

[2019-09-05 15:06] kehoej commented on #103
@assyadh I have the same question as @bertrandm... I'm on 3.0.0-preview8 and 1.0.3 works for me, but do you know when it will be available via nuget?

[2019-09-10 10:05] DragonMastery commented on #41
Please update the sample application because it does not function due to this issue.

[2019-09-10 10:05] DragonMastery opened #123 "OperationCanceledException: The operation was canceled. User Registration Exception #41"
Please update the sample application because it does not function due to this issue.

_Originally posted by @DragonMastery in https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/41#issuecomment-529866693_

I am following [this video](https://youtu.be/h6gMKCr-nLw?t=1429), by installing the sample project in this repo and it is not working... (again I am using the sample project, the

[2019-09-10 21:44] Fydar commented on #118
@drwerewolf it looks like the `UserPoolClientSecret` is completely unnecessary in my situation. Instead of supplying this in the configuration I used the following code:

[code]

Would be nice if I could use the simple configuration method without having to supply a `UserPoolClientSecret`. I'm going to open a new ticket addressing this issue (I can't see anyone else mentioning it).

[2019-09-10 21:54] Fydar opened #124 ""UserPoolClientSecret" should be optional"
### Expected Result

The `IConfiguration` value `AWS:UserPoolClientSecret` should be optional.

Using the environment variables I can access my user pool securely without using the `AWS:UserPoolClientSecret`, rendering it redundant in many setups.

### Actual Result

When the configuration value is not supplied, I receive the following exception.

[code]

### Work-Around

Instead of supplying this

[2019-09-11 15:54] klaytaybai commented on #124
Agreed.  Since this is optional, we need to make it optional here too.  Thanks.

[2019-09-13 03:05] ghendo opened #125 "resend temporary password"
If email confirmation is required and a temporary password has been sent then deleted by the user how can I trigger a new temporary password to be sent

[2019-09-13 18:37] DragonMastery opened #126 "OperationCanceledException: The operation was canceled. RESPONSE Required"
I am following [this video](https://youtu.be/h6gMKCr-nLw?t=1429), by installing the sample project in this repo and it is not working... (again I am using the sample project, the only thing I have changed is the appsettings.Development.json for my user pool)

OperationCanceledException: The operation was canceled.

    System.Net.Http.HttpClient.HandleFinishSendAsyncError(Exception e, Cancellation

[2019-09-13 19:04] assyadh commented on #126
Do you have a default credentials profile on your dev environment?

You can get one by using the AWS Cli or the visual studio toolkit for AWS.

[2019-09-13 19:06] DragonMastery commented on #126
I have setup everything the way it it supposed to be setup, as the video directs me to.

[2019-09-13 19:50] DragonMastery commented on #123
Was an issue, with AWS toolkit Login

[2019-09-13 19:50] #123 closed

[2019-09-13 19:52] DragonMastery commented on #126
Oh, ok I understand now, I didn't realize that I needed a IAM user for programmatic access to use Cognito. I setup the credentials with AWS Toolkit in Visual Studio and it works perfectly. Thanks for the quick response!

[2019-09-13 19:52] #126 closed

[2019-09-13 21:26] assyadh commented on #126
No problem!

[2019-09-13 23:21] DragonMastery opened #127 "Question: Setup CognitoRole?"
How exactly do I set my project up so that CognitoRole works? Specifically the ApplicationDbContext....

[2019-09-17 00:15] aprilmintacpineda commented on #114
This happens to me as well, I'm running a NodeJS script that inserts data to DynamoDB with AppSync... After a few requests the token gets invalidated and I have to re-login again.

I'm using the token from the return value of `CognitoIdentityServiceProvider.adminInitiateAuth`.

[2019-09-17 20:31] klaytaybai commented on #127
Hi @DragonMastery, could you please review this [documentation](https://aws.amazon.com/blogs/developer/introducing-the-asp-net-core-identity-provider-preview-for-amazon-cognito) and let us know if you need further guidance around this?

[2019-09-17 22:43] DragonMastery commented on #127
Well, to be honest the documentation does not help very much with explaining how the Role Service works. So I read through the source code and now I get it. You are using Cognito Groups as Roles. It would be nice if that were a little more clarified somewhere, because I really did not get that until I read through the source code. It might help if it were expanded on in [HERE](https://github.com/a

[2019-09-17 23:15] assyadh commented on #127
Any reason why you are mentioning ApplicationDbContext? We don't use it anymore in this library.

Here is how we use Roles in this library:

https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/master/docs/7-User%20Roles.md

Roles are just mapped to a group you create in cognito.

[2019-09-17 23:18] DragonMastery commented on #127
Thats literally what I just wrote.... with the same link...

[2019-09-17 23:22] assyadh commented on #127
Yes, the sample has the old EF code, but it is swapped with the Cognito access layer.

Thanks for the feedback, made it more clear on the docs.

I will close this, let me now if you still have questions.

[2019-09-17 23:22] #127 closed

[2019-09-18 15:52] flgatormike opened #128 "Not working when I deploy to AWS beanstalk"
Hi,
I have a .NET Core 2.0 MVC project with an "admin" area. When I run it locally, I can log in and access the admin area without problems. However when I deploy the same code to AWS beanstalk, the login is successful, but when it redirects to "admin", it just redirects back to the login page.
Any ideas what I might be doing wrong?
Thanks!

[2019-09-18 21:59] klaytaybai commented on #125
Hi @ghendo, you can do an AdminCreateUserRequest and set the MessageAction to RESEND.  https://github.com/aws/aws-sdk-net/blob/966617d346169e89a693dae74c5eec5cda0551b2/sdk/src/Services/CognitoIdentityProvider/Generated/Model/AdminCreateUserRequest.cs#L122-L130.

[2019-09-18 22:00] #125 closed

[2019-09-19 00:20] flgatormike commented on #128
It had to do with some load balancing settings. We changed some things and now it is working now.

[2019-09-19 00:20] #128 closed

[2019-09-25 23:54] klaytaybai commented on #109
@fnalin, https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminSetUserPassword.html

[2019-09-27 12:27] steingran opened #129 "TypeLoadException, Method 'NormalizeName' in type 'CognitoKeyNormalizer' does not have an implementation"
Scenario: Trying to use AWS Cognito as the Identity provider in a Blazor Server .NET Core 3.0 project, following these guidelines: https://aws.amazon.com/blogs/developer/now-generally-available-the-asp-net-core-identity-provider-for-amazon-cognito/

However, when running I get this exception:

System.TypeLoadException
  HResult=0x80131522
  Message=Method 'NormalizeName' in type 'Amazon.AspNetCore

[2019-09-27 13:01] steingran commented on #129
And my Target framework is like this in my csproj file:
<TargetFramework>netcoreapp3.0</TargetFramework>.

I see in https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/6f8d985deef49bcce485d27cd52acf8ab9d45aaa/src/Amazon.AspNetCore.Identity.Cognito/CognitoKeyNormalizer.cs that there is an "#if NETCOREAPP_3_0", and NETCOREAPP_3_0 is defined like this in https://github.com/aws/aws-aspnet

[2019-09-27 20:13] klaytaybai commented on #129
Hi @steingran, you need to use version 1.0.3.x instead of 1.0.2.x.

[2019-09-27 20:16] klaytaybai commented on #129
Sorry.  It looks like this hasn't been published to Nuget yet.  I'll try to find out why.

[2019-09-27 20:23] assyadh commented on #129
Relates https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/103

[2019-09-28 20:55] steingran commented on #129
@klaytaybai Yeah, I use 1.0.2 and that is the newest one on Nuget as of now. Great that a new version is coming with a fix for this 👍

[2019-10-02 03:46] MarneeDear opened #130 "Change the Cognito access key and secret after startup, shared instance"
I have a client where their Cognito instance is in a different account than the EC2 instance where the app runs. They asked AWS support and they suggested to call AssumeRole to get credentials to access Cognito.

I think I can do this at startup, but because the credentials expire after one hour, I would have to reset them all the time. Is it possible to do this after startup? For example, in a co

[2019-10-02 19:27] klaytaybai commented on #130
Hi @MarneeDear, good question.  I think it should be possible.  Try doing something like this:

[code]
[code]

[2019-10-03 05:05] MarneeDear commented on #130
Thank you, I will try this.

[2019-10-03 19:28] fnalin commented on #109
@klaytaybai tks
worked perfectly

[2019-10-05 22:39] hounddog22030 opened #131 "AWS Lambda Serverless - Antiforgery token validation failed. The antiforgery token could not be decrypted."
We're trying to do this with AWS Lambda Serverless and keep running into the error

Microsoft.AspNetCore.Mvc.ViewFeatures.Internal.AutoValidateAntiforgeryTokenAuthorizationFilter: Antiforgery token validation failed. The antiforgery token could not be decrypted.

I suspect it is because the Post is running on a different server?

We've tried the <machineKey> work-around in web.config and the Ignor

[2019-10-05 23:19] normj commented on #131
The Antiforgery framework in ASP.NET Core uses its underlying Data Protection framework that generates encryption keys as needed. By default the keys are persisted in memory or the file system. If you use our [AWS Systems Manager ASP.NET Core Data Protection Provider](https://github.com/aws/aws-ssm-data-protection-provider-for-aspnet) package it will use AWS Systems Manager to keep the encryption

[2019-10-06 02:29] hounddog22030 commented on #131
You rock (as usual)!

[2019-10-06 02:29] #131 closed

[2019-10-07 18:38] cesee commented on #129
This library is really great.
1.0.3 fixes the issue for me too.
However, I did get a general "object reference not set" exception when using SendEmailConfirmationTokenAsync during registration. Did I use it wrong ?

[code]

In addition, is there any way of making this work with the default identity implementation (that includes UI) without having to override each and every razor view ?

something

[2019-10-07 23:50] ChaseKR commented on #129
Thanks @klaytaybai! Has there been any luck in getting this to NuGet?

[2019-10-08 01:27] hounddog22030 commented on #80
I was having this issue and this was my problem.

[2019-10-08 02:58] hounddog22030 opened #132 "Getting IdToken"
We would like to be able to get the user's SessionToken.IdToken so we can use it call API Gateway for RESTful API calls.

I can get it by "authenticating twice", using the same method as we do in a desktop app as shown below as a modification to the sample asp.net Core app's Login page - OnPostAsync.

Is there a better way to do this?

`            try
            {
                returnUrl = ret

[2019-10-08 20:32] normj commented on #132
Here is a snippet recently wrote for a the demo I'm trying to together for re:Invent. You can ignore _authenticationStateProvider. Basically `user` is the ClaimsPrincipal you can find from the HttpContext object.

[code]

[2019-10-09 07:41] rushdy20 commented on #103
taking the package from  Amazon.AspNetCore.Identity.Cognito.1.0.3.nupkg.zip worked for me but please update once this is available get directly from nuget manager

[2019-10-12 03:10] bertrandm commented on #103
@assyadh Would it be possible for you to at least give an estimation when you are likely to create a nuget package. I am in the process of trying to build a version of the application and my build process is broken because it is expecting a nuget package. I need to plan accordingly.

[2019-10-14 23:39] #132 closed

[2019-10-15 17:08] TehGM commented on #129
Seems that for now if I want to proceed with the project, I need to compile 1.0.3 myself. That's good that there's a working version at all, but really hope we can get it on nuget soon (been over 2 weeks).

[2019-10-16 02:17] MarneeDear opened #133 "Password policy not respected when creating a new account"
May be related to #116

I get an error about not meeting the password complexity requirements, but I don't have any.

Here is my password policy

![image](https://user-images.githubusercontent.com/5660628/66882676-37a62b00-ef80-11e9-8702-7f5eb35329b0.png)

But I get this error when I create an account

`Password: "HelloWorld"`

When I create an account using the console, it is created without any

[2019-10-17 03:20] #130 closed

[2019-10-17 16:27] klaytaybai commented on #133
@MarneeDear, which version are you using?

[2019-10-17 17:28] klaytaybai commented on #133
Are you able to confirm that the user pool information matches what you expect it to be?  I'm not sure why you would be seeing this error.

[2019-10-18 00:20] MarneeDear commented on #133
I am using version 1.0.2

[2019-10-18 00:22] MarneeDear commented on #133
Have you been able to reproduce it?

[2019-10-18 13:13] slackjawedyokel opened #134 "Trying to add Google and LWA authentication"
I've set up Google and Login With Amazon integration with my Cognito user pool and now I'm trying to get these identity providers reflected in the UI of the sample code to verify that everything is working as expected.  I've added Google with the below code, and while a button shows up in the UI after I execute this code when I click on the button it just seem to post-back rather than re-directing

[2019-10-21 23:56] klaytaybai commented on #134
The services.AddAuthentication code should be the right approach.  I need to look into this more, but I think this library is still lacking the support for adding third party authentication.  I'll try to follow up on this soon.

[2019-10-23 15:51] adrianofo commented on #103
@assyadh Hello Hamza. We are upgrading our current apps to use the new Asp.Net Core 3.0. Any ETA?

[2019-10-23 16:53] normj commented on #103
Sorry everybody for the delay, we are working to get the the 3.0 version out. We have had to juggle around a bit of resources lately which has caused the delay but it is high on our list to get you all unblocked and the the 3.0 version out.

[2019-10-24 15:52] MarneeDear commented on #133
@klaytaybai Have you been able to reproduce the problem?

[2019-10-24 20:04] klaytaybai commented on #133
Hi @MarneeDear, I have reproduced it now.  Thanks for notifying us about this.

[2019-10-24 20:23] klaytaybai commented on #80
Closing this.  Please use the appsettings.Development.json :)

[2019-10-24 20:23] #80 closed

[2019-10-31 13:59] slackjawedyokel commented on #134
Is there anything that I can do to help get this issue resolved?

[2019-10-31 16:00] Heinicke opened #135 "ResourceNotFoundException: User pool us-east-2_<id> does not exist."
Im trying to get authentication working and I keep getting this error every time I try to log in. It claims the pool does not exist. Ive checked and triple checked my settings to ensure they are correct. What am I doing wrong?

I have omitted the ID in the below exception:

ResourceNotFoundException: User pool us-east-2_<id> does not exist.

[2019-11-04 23:04] atul898 commented on #129
Any updates on when Amazon.AspNetCore.Identity.Cognito, Version=1.0.3 is coming out on nuget?

[2019-11-04 23:52] klaytaybai commented on #135
Hi @Heinicke, the most likely answer is that your credentials are configured for a region other than us-east-2 when making your calls to Cognito.  Can you please check your app settings (probably development) to see if another region is specified there?  If you don't specify a region there, please try to identify where in the [credentials profile chain](https://docs.aws.amazon.com/sdk-for-net/v3/d

[2019-11-05 13:47] Heinicke commented on #135
Thanks so much for the reply. I will continue looking into the credentials profile chain. I have specified the settings in app settings show below. Is there anything further needed to get this connection working correctly? Does it need/use whatever is configured for the access key and secret access key? Thanks!
![image](https://user-images.githubusercontent.com/2421001/68212942-9de30400-ffa8-11e9-

[2019-11-05 14:44] TNadir commented on #103
I can't find Amazon.AspNetCore.Identity.Cognito.1.0.3 on nuget .
could you please provide me with a Link.
I tried to download and install it requires ID
![image](https://user-images.githubusercontent.com/34626886/68217543-d6f49600-fff3-11e9-9540-b36f9951de9d.png)
how can I install that new pkg?
Thanks

[2019-11-05 14:47] TNadir commented on #129
joined to question

[2019-11-07 13:08] MarkStruik commented on #103
i am using the 1.0.3 package but it is not working for me:
Am i missing something?? i am using the

Fiddler output:
![image](https://user-images.githubusercontent.com/8427513/68391367-c06f4b80-0167-11ea-9757-b1278d716c27.png)

sample code:
![image](https://user-images.githubusercontent.com/8427513/68391409-dbda5680-0167-11ea-982c-52cd3a91f3b2.png)

appsettings.json:
![image](https://user-images.gi

[2019-11-10 22:58] alex-bello opened #136 "Amazon.CognitoIdentityProvider.Model.ResourceNotFoundException: User pool client {id} does not exist."
I have a small React SPA with a WebAPI backend that uses Cognito as the Identity Provider. This application was working without issue a few weeks ago. Not sure when it happened, but all of a sudden, the `signin`endpoint no longer works. I get the error provided above.

I checked that settings multiple times and verified from the CLI that the `ClientId` and `UserPoolId` both exist and are visible t

[2019-11-11 19:11] klaytaybai commented on #135
Thanks for the response, @Heinicke.  If you are still having this problem, could you please add a call stack?

[2019-11-11 19:18] Heinicke commented on #135
@klaytaybai Yes I can, Here is the call stack:

[stacktrace.txt](https://github.com/aws/aws-aspnet-cognito-identity-provider/files/3832888/stacktrace.txt)

[2019-11-11 19:18] klaytaybai commented on #136
Hi @alex-bello, can you please confirm that nothing changed in your credentials and client creation?  How do you create your credentials and client?  There is a chance that for some reason a different region is being used than what you were originally using.

[2019-11-11 19:49] alex-bello commented on #136
I thought that might have been an issue, so I created a new IAM user with all Cognito rights granted and updated the `AWS_SECRET_KEY` and `AWS_SECRET_KEY_ID` to match. That didn't work, so I created a new app client and updated the settings as well.

To be completely sure, I changed both values to my personal secret and secret key (I am an admin) and then just for the sake of overkill, I erased an

[2019-11-14 00:19] hounddog22030 commented on #134
+1

[2019-11-14 00:57] assyadh commented on #129
The team is actively working on updating our internal tooling to support .NET Core 3.0. The package will be on NuGet shortly. Thanks

[2019-11-15 19:54] andyfurniss4 opened #137 "Can I use this with the .NET Core 3.0 SPA project structure?"
I've been looking at the SPA project templates that were introduced with .NET Core 3.0 and trying to figure out if there's a way to switch out the default user store (Entity Framework) for Cognito but so far I haven't found a way.

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.0

Have you experimented with this at all? Is there a

[2019-11-18 13:32] Baxtex commented on #114
I have the same issue however I have configured an app client instead and calling it like this from android app:
`

                final String clientId = "***********3";
                final String clientSecret = "******************************g1";
                final Regions region = Regions.EU_WEST_1;

                final AWSCredentials basicAWSCredentials = new BasicAWSCredentials(client

[2019-11-21 13:34] Fydar commented on #137
I have been using this with ASP.NET Core 3.0 since the preview releases of it and it works fine for me. I am using a SPA Blazor application with a separate, restful login page.

When you inject the Cognito Identify Provider using `services.AddCognitoIdentity ();` (as documented on the README.md) you are replacing the default user store.

Not much has changed with the advent of .NET Core 3.0 SPA pr

[2019-11-21 15:21] hounddog22030 commented on #134
I'd really like to get this going?  Can you provide some guidance and perhaps I can make a PR?

[2019-11-22 22:31] assyadh commented on #129
https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/1.0.3 is now out and supports 3.0

[2019-11-22 22:31] #129 closed

[2019-11-22 22:33] assyadh commented on #103
Hi @MarkStruik , you can have a look at the docs folder here. The best way to use the library is to use the AWS Toolkit for Visual Studio. It will set up all the required tooling for you.

By the way, the 1.03 version is out on NuGet and supports .NET Core 3.0

https://www.nuget.org/packages/Amazon.AspNetCore.Identity.Cognito/1.0.3

Resolving.

[2019-11-22 22:33] #103 closed

[2019-11-23 08:10] MarkStruik commented on #103
Ok perfect 👌 I got it to work through debugging errors and resolving it. Good to see I can use the official nugget now. Thanks for the update!

Op 22 nov. 2019 om 23:33 heeft Hamza Assyad <notifications@github.com> het volgende geschreven:

﻿

Hi @MarkStruik<https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMarkStruik&data=02%7C01%7C%7C59757615ac6940979b5308d76f9c0c05%

[2019-11-23 16:45] UrizielTSD opened #138 "User Registration Operation Cancelled Exception"
Hello, I´m trying to implement the Cognito example in my Visual Studio 2019 asp.net core 3.0 project, whenever I call Registration the Exception described in #41 occurs.

I tried all the proposed fixes but I can´t make it work.
1) All Nuget Packages are up-to-date

2) Code always jumps out at:
var result = await _userManager.CreateAsync(user, Input.Password);

3) My AWS dev account has admin permi

[2019-11-25 16:12] UrizielTSD commented on #138
The Projects run inside Beanstalk without a problem, so it seems to be a permission problem on my pc ?

[2019-11-25 17:57] klaytaybai commented on #138
My guess is that you don't have the credentials set up properly on your local machine.  The last step in the default fallback credentials chain is to check an EC2/ECS instance for credentials.  Please try following the advice in the second half of #41 regarding getting your permissions to work locally.

[2019-11-26 14:44] UrizielTSD commented on #138
Thanks for the reply, my credentials were set correctly.
I added them to the SDK using the provided link, but that didnt help.

But I did find my problem, not sure if that is expected behavior.
My Asp.net core app is dockerized, and when executing it using docker (I use a Linux docker on windows), I presume that AWS credentials arent known to docker.
Running it on IIS Express from studio instead o

[2019-11-27 18:04] hounddog22030 commented on #134
?

[2019-11-30 10:00] rayhaanq commented on #86
I've got the same issue, Adding Role = "Admin" returns 403 error even if the user is part of that group

[2019-12-02 20:21] klaytaybai commented on #99
Closing due to inactivity

[2019-12-02 20:21] #99 closed

[2019-12-16 18:11] clearwaterstream commented on #80
I too ran into this issue, then quickly realized (thanks to this thread) that I need to modify the settings in appSettings.Development.json. I suggest dropping a readme.md into https://github.com/aws/aws-aspnet-cognito-identity-provider/tree/master/samples directing developers to do the step, it would save a bit of time :)

[2020-01-01 23:48] keithbeller commented on #114
I figured out my issue.  I didn't set the variables: AWS_SECRET_KEY and AWS_ACCESS_KEY_ID.  One I did the issue resolved. Thank you for your help.

[2020-01-02 11:23] foo1976 commented on #101
I am also having the same problem.

[2020-01-05 00:00] avaleri commented on #122
I have the same problem with my project.

It seems to be related to this issue:

https://github.com/aspnet/Identity/pull/1941

I was able to increase the session timeout by adding this code, and the Validation Interval specified in this new code block controls how long the session is valid for.

            services.Configure<SecurityStampValidatorOptions>(options =>
            {

[2020-01-06 06:22] kentbarber opened #139 "UriFormatException: Invalid URI: The hostname could not be parsed."
I am not able to run this project. I have tried in VS 2017 and 2019. Could be a user error since I am just trying to run the Samples.sln directly. These are the errors...

`
UriFormatException: Invalid URI: The hostname could not be parsed.

System.Uri.CreateThis(string uri, bool dontEscape, UriKind uriKind)
System.Uri..ctor(string uriString)
Amazon.Runtime.ClientConfig.GetUrl(RegionEndpoint regio

[2020-01-07 05:36] keithbeller commented on #114
I figured out my issue.  I didn't set the variables: AWS_SECRET_KEY and AWS_ACCESS_KEY_ID.  When I did the issue resolved. Thank you for your help.

I followed the directions on [Snevsky.com](http://snevsky.com/blog/dotnet-core-authentication-aws-cognito) to find my answer.

Here was the change I made to the Startup.cs file.   If you inject the  **AmazonCognitoIdentityProviderClient** and **Cognit

[2020-01-07 05:36] #114 closed

[2020-01-08 00:44] klaytaybai commented on #139
I was able to reproduce this.  It would be nice to get the sample solution working

[2020-01-12 13:08] sohaibmaroof commented on #136
I am having exactly the same problem, can we please open this issue?

[2020-01-20 18:39] klaytaybai commented on #133
This has been fixed.  Thanks again for reporting it.

[2020-01-20 18:39] #133 closed

[2020-01-21 23:09] mikebama opened #141 "Can a RefreshSigninAsync method be used in a regular .Net Framework MVC application"
Can the RefreshSigninAsync method be used in a regular .Net Framework MVC application that calls API's from a separate project?  I saw your comments on a similar issue for a .NET Core application in this thread: [(Implement the RefreshSigninAsync method #90)](https://github.com/aws/aws-aspnet-cognito-identity-provider/pull/90)

[2020-01-21 23:41] klaytaybai commented on #141
It should be. This library and its dependencies target .NET Standard 2.0, so .NET Framework should work but you need to be using a version of .NET Framework that is compatible with .NET Standard 2.0 (4.6.1 or higher).

Have you tried it out?  If you have issues, please reopen this issue or create a new one.

[2020-01-21 23:41] #141 closed

[2020-01-26 00:32] MarneeDear opened #142 "System.TypeLoadException: Method 'NormalizeName' after upgrading to 1.0.4"
I have a project where I was running 1.0.2. And it was working fine, but after upgrading to 1.0.4 I get this error:

[code]

I am running on .Net core runtime version `2.2.105`

Is the latest version not compatible with this .Net core version? There was a fix to the way it handled password requirements, and I need this in my project, but I am not ready to upgrade to 3.0. Any suggestions?

[2020-01-28 20:19] klaytaybai commented on #142
Hi @MarneeDear.  I'm not sure why you would be seeing this error.  .NET Core 2.2 should be using the Normalize method, not NormalizeName.  There might be something wrong with your csproj file.  Could you please provide a small sample app that reproduces the problem?

[2020-01-29 15:38] flgatormike opened #143 "Does the [Authorize] attribute work with ASP .NET Core 3.1 Razor Pages?"
I have used this provider successfully in the past. I have a new .NET Core 3.1 Razor project and the login works, however I can't access any razor page with the [Authorize] attribute.

[2020-01-29 16:05] flgatormike commented on #143
I found that these have to be exactly in this order, otherwise it doesn't work. I hope it helps someone.

app.UseRouting();
app.UseAuthentication();
app.UseAuthorization();
app.UseEndpoints(endpoints =>
{
    endpoints.MapRazorPages();
});

[2020-01-29 16:05] #143 closed

[2020-01-31 00:29] MarneeDear commented on #142
Yes, I will work on that. Thank you.

[2020-01-31 01:42] MarneeDear commented on #133
Is this fix in version 1.04? I tried upgrading but I am still getting password requirements errors.

[2020-02-04 02:33] jlwhitfill opened #144 "Calling RefreshSignInAsync() causes InvalidParameterException: Missing required parameter REFRESH_TOKEN"
This one is a weird one as this used to work several months ago just fine, then I re-engaged with the project as it was on hold.  We updated to >net Core 3.1 and I upgraded the NuGet package to the latest version.  Now, it works just fine the FIRST time I call it after changing the claims (e.g. thee user name, address, phone, etc) using the AddClaimsAsync() call.  The information is correctly upda

[2020-02-05 18:52] jlwhitfill commented on #138
You will have this issue always.  You are correct that Docker is causing it because it doesn't know your localized credentials you have configured in your AWS Toolkit for Visual Studio.  Once deployed, it works fine.  Thats why I always run it in regular mode (not in docker mode) when I am debugging.

You second, I would need to see more of what you are doing to see the real  issue but try this wh

[2020-02-05 23:22] klaytaybai commented on #144
Thanks.  I'm going to look into this and other refresh issues.

[2020-02-10 19:31] jlwhitfill commented on #67
I still need this one looked it, its been close to a year and has not been resolved.  Its an issue that could prevent me from using this library as its VERY possible the email will need to change and I need a way to resend a confirmation code AND have it verify that code.  There needs to be a

````ResendEmailConfirmationCodeAsync````

[2020-02-11 23:02] mikebama opened #145 "Cognito User Pool Authentication"
AWS team,
I was wondering after a user has been authenticated against a user pool does every request that is submitted by the site get the request authenticated by cognito using the JWT Access Token in the sample project and in general?

Also if multi factor authentication is implemented in the us-east-2 region can SMS messages or just emails be used to multi factor authenticate not including phon

[2020-02-13 01:48] Erayus opened #146 "Unable to resolve service for type 'Amazon.AspNetCore.Identity.Cognito.CognitoSignInManager`1[Amazon.Extensions.CognitoAuthentication.CognitoUser]' while attempting to activate 'WebAdvert.Web.Controllers.AccountsController'."
Hi,

In the README.md, it says to inject CognitoSigninManager, however, I believe it should be CognitoSignInManager (capital I) as that's how it's written in the source code.

However, although there is no error in the editor, it shows this error after running it:

`InvalidOperationException: Unable to resolve service for type 'Amazon.AspNetCore.Identity.Cognito.CognitoSignInManager`1[Amazon.Exten

[2020-02-13 01:52] #146 closed

[2020-02-13 01:54] Erayus commented on #146
Seems like we can't inject it directly in the constructor.

To use the class, I have to cast it from SignInManager instead.

await ((CognitoUserManager<CognitoUser>) _userManager).CreateAsync(user, model.Password, validationData);

[2020-02-13 22:01] klaytaybai commented on #145
After being authenticated, the user's temporary access tokens can be used to authenticate to your backend AWS services.  Furthermore, when using this library, you can use Cognito as a user [Identity Provider for ASP.NET](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-3.1&tabs=visual-studio) Core.

SMS can be used for multi-factor authentication.

Plea

[2020-02-13 22:02] klaytaybai commented on #142
I'm closing this for now.  Feel free to reopen it if you can provide a reproduction solution.

[2020-02-13 22:02] #142 closed

[2020-02-14 16:17] mikebama commented on #145
You mentioned that SMS can be used for multi-factor authentication.   I saw in this link (https://docs.amazonaws.cn/en_us/cognito/latest/developerguide/user-pool-settings-mfa.html) it mentioned "4. Your users can use SMS text message or Time-based One-time Password as a second factor".   Will the otp manager (https://www.microsoft.com/en-us/p/otp-manager/9nblggh6hngn?activetab=pivot:overviewtab )

[2020-02-26 14:08] junaid-ahmed92 opened #147 "Role based authentication in AWS cognito"
I am totally new to AWS and I am using aws cognito for authetication and authorization purpose. By following this link https://aws.amazon.com/blogs/aws/new-amazon-cognito-groups-and-fine-grained-role-based-access-control-2/ I created one group and added some users in that group. Now the issue I am facing is how can I validate user roles in my .net core webapi? I can validate token signatures (iss,

[2020-02-27 21:42] klaytaybai commented on #147
It looks like we probably have a bug or at least a confusing UX here.   Check out these other issues for more info:
https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/86
https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/101

[2020-02-28 12:54] junaid-ahmed92 opened #148 "AWS Cognito Admin GetUser with associated groups"
I am using aws cognito sdk with .net core 3.1 webapi. The issue is, I have to display users info as well as user groups. ListUserApi https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_ListUsers.html doesn't return users group information. According to the docs I have to call other api ListUserInGroups (https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIR

[2020-02-28 23:30] klaytaybai commented on #148
Hi @junaid-ahmed92, unfortunately I'm not aware of a call that can get information for both user info and their groups.  It sounds like you would have to do AdminGetUser/ListUsers + AdminListGroupsForUsers.  I'm also not aware of any way to sort on the server-side that doesn't involve filtering on the sort criteria.  I suggest you post in the [Cognito AWS Forums](https://forums.aws.amazon.com/foru

[2020-03-09 18:45] #148 closed

[2020-03-10 17:41] WajahatAliAbid opened #149 "Refresh token workflow"
Hi,

I want to be able to refresh my access tokens using AWS Cognito Identity, but I am facing some problem. I am using JWT Authentication in my application and want to refresh the token when my authorization fails and return a new token in response headers. I don't understand how I can refresh a token on server side (Asp.net core) after my authorization fails. Can someone please explain the workf

[2020-03-10 19:51] #149 closed

[2020-03-10 19:55] WajahatAliAbid opened #150 "Refresh Token using Identity Provider"
Hello, I am using cognito identity provider to login my user. For refresh token, I am using the following code snippet.
[code]
I am not using any authorize attribute for it since I am just passing it refresh token to get me a new id and access token. Is it possible to achieve this functionality using aws-aspnet-cognito-identity-provider? If yes, please guide me on this.

[2020-03-12 19:55] klaytaybai commented on #150
Maybe this will help for more context:  https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/76

[2020-03-13 09:38] WajahatAliAbid commented on #150
I tried this issue, although I do not have `CognitoUser` at the point of when I am refreshing the token. Just a refresh token. So I cannot use any method that requires instance of `CognitoUser`, for example `CognitoUser.StartWithRefreshTokenAuthAsync()` or `CognitoSigninManager.RefreshSignInAsync(CognitoUser).`

[2020-03-14 10:36] WajahatAliAbid opened #151 "Mock testing CognitoUser instance"
Is there a way to mock test `CognitoUser` instance using [moq](https://github.com/moq/moq4), from my understanding the method `StartWithAdminNoSrpAuthAsync` isn't virtual so it cannot be mocked. How can we mock this functionality?

[code]
Error screenshot
![image](https://user-images.githubusercontent.com/17341777/76680269-f6867580-6608-11ea-91d9-8a87b5089949.png)

[2020-03-17 20:18] klaytaybai commented on #151
Hi @WajahatAliAbid, thanks for the feedback.  I agree that it would be nice if this was supported more simply.  You should be able to mock it if you write a subclass to wrap around the CognitoUser class.  You can then just return the invocations of the base methods and mock on the new class and its methods.

[code]

[2020-03-17 21:24] WajahatAliAbid commented on #151
Hi @klaytaybai
I tested it with using a custom subclass of `CognitoUser`
[code]
This issue has been resolved. Thanks for your feedback. I'm looking forward to future releases of `aws-aspnet-cognito-identity-provider` with support for mocking without writing a wrapper class for it.

[2020-03-23 16:46] WajahatAliAbid commented on #151
@klaytaybai can you look at [this](https://github.com/aws/aws-sdk-net-extensions-cognito/pull/49) PR please?

[2020-03-27 13:50] kwood0912 commented on #122
I also have been dealing with the same problem.  It seems that no matter what settings I used when configuring the application cookie in Startup.cs the application identity cookie generated by the Cognito identity provider was set to expire in one hour.  I was able to find a solution that resolves this for standard password sign in.

In Startup.cs:
[code]

In Sign In action:
[code]
When signing th

[2020-04-09 19:28] danielmedina opened #152 "Don't know how to authenticate with SAML IdP authentication flow"
Hey there.

I'm working with a SAML IdP authentication flow. It means that I use a cognito url to redirect me to my Identity Provider where I sign in (two factor authentication included) and then redirected to my application with an authorization code (my callback address with ?code=<authorization code>.

I tested this flow using postman and everything runs very well.

Using this library (aws aspn

[2020-04-13 19:18] #152 closed

[2020-04-14 01:19] markdwags commented on #147
I'm also running into this issue.  Based on the docs here:

https://aws.amazon.com/blogs/developer/now-generally-available-the-asp-net-core-identity-provider-for-amazon-cognito

Based on the guide, you should be able to add `[Authorize(Roles = "Admin")]` but when I do that, I get errors.  Based on https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/86 the solution is to write a cust

[2020-04-14 14:37] markdwags commented on #147
I've been playing with it more without any success on .NET Core 2.2.  Following this [guide](https://aws.amazon.com/blogs/developer/now-generally-available-the-asp-net-core-identity-provider-for-amazon-cognito) I have in my appsettings.json

[code]

Under `ConfigureServices`, among a few other settings, I have `services.AddCognitoIdentity();` and lately I have `app.UseAuthentication();` in `Config

[2020-04-17 00:21] glindstr commented on #152
I'm just wondering if you found a solution to this. I'm also trying to figure out how to get this library to log in a user from an authentication code from a third party provider.

[2020-04-25 02:04] ehs035 commented on #139
Make sure you add your AWS settings to: appsettings.Development.json

[2020-05-04 22:03] mikebama opened #153 "Authenticate Users Using an Application Load Balancer"
AWS Staff,
      I am inquiring to find out more about the "[Authentication Flow" process when "Authenticate Users Using an Application Load Balancer](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/listener-authenticate-users.html)".  When the "Authenticate Users Using an Application Load Balancer" is configured using Cognito as discussed in the "Configure User Authentication"

[2020-05-09 14:47] Galluz75 opened #155 "Exception registering user"
I've tried to use the sample project to make a simple user registration test, but the method `_userManager.CreateAsync` generate an exception, I've tried in different ways getting different exception:

1) I've use the standard configuration using appsetting.json to store Cognito parameters, I didn't modify anything else in the project.
Result:
[code]

2) Suspecting a problem getting configuration

[2020-05-13 11:00] horizondave commented on #137
@Fydar Would love to see a sample ASP.NET Core 3.0/3.1 app using Cognito Identity.  I am lurching from one crash to another as I discover all the undocumented requirements (The latest being that ConfirmAccount doesn't work for me as my user has no claims....Probably due to the [AllowAnonymous] attribute on the RazorPages code?!)

[2020-05-13 21:27] jandvs opened #156 "NotSupportedException: Store does not implement IUserAuthenticatorKeyStore<User>."
I'm trying to setup 2FA using an authenticator app.. I don't see a lot of examples of doing this, but I think it starts with a call to `userManager.GetAuthenticatorKeyAsync(user)` where user is of type `CognitoUser`.  But this call throws the exception below.

Also the call to `userManager.GetValidTwoFactorProvidersAsync(user)` throws the same exception.

[code]

Stack Query Cookies Headers
[code]

[2020-05-25 11:33] mcoolidge opened #157 "Multi-Tenant : Get users from dynamic user pool"
Hi Team!

This question is similar to https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/84 but I need some additional guidance.

I am just trying to retrieve a list of users for a user pool based on the currently logged in user. The application will have users from different pools so the pool ID needs to change based on that context (not on startup).

I am able to create a custom

[2020-05-25 11:52] mcoolidge commented on #157
I think I figured this out actually.

Instead of using the UserManager, there is a ListUsersAsync on the `IAmazonCognitoIdentityProvider` client which takes a user pool ID.

I had to dig through the classes to find the call, so maybe this will help someone else.

`
ListUsersRequest request = new ListUsersRequest() { UserPoolId = organization.awsConfig.userPoolID };
var response = await _client.Lis

[2020-05-25 13:04] #157 closed

[2020-05-31 21:59] alden-menz opened #158 "OperationCanceledException: The operation was canceled."
I downloaded the source and configured the appsettings.js

but the app keeps throwing this exception
[code]

[2020-06-03 05:30] tanjirove commented on #113
Hi @Procee,
Can you please explain how to install AWS tools and call 'AWS configure'?

[2020-06-10 11:29] Brett-Riverboat opened #160 "Trying to Integrate with MVC ASP.NET Core 3.1"
Hello

I am fairly new to MVC ASP.NET Core 3.1 want to integrate the identity pages with a typical MVC web app.

I copied login.cshtml (and its model) to Views/Identity on a new app. I copied _LoginPartial to Shared and referenced it from _Layout.cshtml as in the sample application. I also changed _LoginPartial to reference my identity contoller instead of the old way.

When I click on the login l

[2020-06-14 08:18] idanalt opened #162 "PasswordSignInAsync behavior when MFA_SETUP challenge occured"
Hi,
I'm using this SDK for building a custom login page with Cognito,
when user sign in for the first time and MFA is enabled, he need to setup MFA device first
but PasswordSignInAsync not telling me that MFA Setup is required, i'm receiving failed to login
there is a support for mfa setup? and if not how can I deal with that?

Thanks

[2020-06-21 08:54] ghendo opened #163 "Customising ClaimsPrincipal"
I was wanting to add my own Role claims to the claims princpal during user login.
However it seems I cant override the claimsprincipal create method to do this.
What would be the suggested way to add claims at the login.
CognitoUserClaimsPrincipalFactory didnt persist the claims past the login page
replacing the HttpContext.User with a generated claims principal didnt keep past login either.

[2020-07-11 23:25] momalley opened #165 "AdminSetUserPassword is not supported in IAmazonCognitoIdentityProvider (.Net Core 3.1)"
## Description
AdminSetUserPassword is not supported.

## Reproduction Steps
The AdminSetUserPassword method does not exist on IAmazonCognitoIdentityProvider.

### Logs
N/A

### Environment
Amazon.AspNetCore.Identity.Cognito v1.0.5
Amazo.Extensions.CognitoAuthentication v1.0.4
.NETCoreApp 3.0
Visual Studio 2019
Windows 10
Targeting .NET Core 3.1

## Resolution

Please add support for this call.

-

[2020-07-13 23:58] normj commented on #165
For .NET Core the service interfaces like IAmazonCognitoIdentityProvider only support the async versions of the operation. So you should see AdminSetUserPasswordAsync.

This is due to the HttpClient in .NET Core only supporting async requests.

[2020-07-21 00:24] #165 closed

[2020-07-21 01:14] ashishdhingra commented on #162
Hi @idanalt,

Thanks for reporting the guidance question. I looked at the code and as per line logic in [CognitoSigninManager](https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/6f8d985deef49bcce485d27cd52acf8ab9d45aaa/src/Amazon.AspNetCore.Identity.Cognito/CognitoSigninManager.cs#L265), you may try checking the return value of _PasswordSignInAsync()_ call for the value SignInResult.

[2020-07-29 00:23] #162 closed

[2020-08-03 08:35] kawabata2018 opened #167 "Qustion: An error was encountered with the requested page"
### Situation
I followed this article to connect to the Cognito sign-in page using Hosted UI.
https://chandradev819.wordpress.com/2020/01/18/aws-cognito-service-in-asp-net-core-3-1-application/

I have tried several times. (the callback url is set as https://localhost:5001)
But it only redirects to the error page like below.
URL: `https://__MYDOMAIN_.auth.us-east-2.amazoncognito.com/error?error=re

[2020-08-03 17:22] ashishdhingra commented on #167
Hi @kawabata2018,

Thanks for posting the guidance question. Following resources could be helpful to get started with Amazon Cognito:

1. Video [Using AWS Cognito in your .NET Core App](https://www.youtube.com/watch?v=LcD_-p1gCww) from AWS team provides good overview.

2. The guidance article [Access AWS services from an ASP.NET Core app using Amazon Cognito identity pools](https://docs.aws.amazon

[2020-08-03 19:55] kawabata2018 commented on #167
Thank you so much @ashishdhingra,

I have cloned the [sample application](https://github.com/aws/aws-aspnet-cognito-identity-provider/tree/master/samples) and tried to fix it so that it will run on my environment -- ASP.NET Core 3.1.
I'm currently working on an MVC app on the localhost and would like to add the Cognito authentication feature for this.
Is it quite difficult to implement for beginne

[2020-08-03 20:27] ashishdhingra commented on #167
Hi @kawabata2018,

Implementing Cognito authentication feature should not be difficult to implement. [AWS Cognito documentation](https://docs.aws.amazon.com/cognito/?id=docs_gateway) is the best resource for reference to learn more about this component. For ASP.NET Core, there is plenty of information available on [Microsoft's ASP.NET website](https://dotnet.microsoft.com/apps/aspnet/web-apps).

P

[2020-08-17 23:29] ellismichaelarb commented on #147
I'm trying to do the same thing and have used the same blog, and I'm seeing the same issue. I noticed that /Account/Login is in the sample code on GitHub so maybe /Account/Login is hardcoded somewhere. I don't even have an /Account/Login in my code.

[2020-08-18 20:13] ashishdhingra commented on #160
Hi @Brett-Riverboat,

Good afternoon.

Following resources from Microsoft's website provide good reference for migrating existing ASP.NET MVC application to .NET Core MVC application:

1. [Migrate from ASP.NET MVC to ASP.NET Core MVC](https://docs.microsoft.com/en-us/aspnet/core/migration/mvc?view=aspnetcore-3.1)

2. [Migrate Authentication and Identity to ASP.NET Core](https://docs.microsoft.com/

[2020-08-18 23:27] ashishdhingra commented on #158
Hi @alden-menz,

Please let us know the source which you downloaded, the use case and the exact issue in the following format to assist further:

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* AWSSDK.Core version used:
* Service assembly and version used:
* Operating System and version:
* Visual Studio version:

[2020-08-19 21:40] ashishdhingra commented on #156
Hi @jandvs,

Please confirm if this is still an issue. Also request you to provide more details in the following format along with the use case and sample code:

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* AWSSDK.Core version used:
* Service assembly and version used:
* Operating System and version:
* Visual

[2020-08-21 14:22] tavisca-anjoshi opened #168 "AWS Cognito Multi-factor authentication using TOTP always returns failed in C# .net core"
## Description
We want to achieve login functionality in our application using our own custom UI instead of hosted UI provided by Cognito. We have a requirement of MFA using TOTP(software token) for login purposes. For that, we have enabled the second factor using a Time-based One-time Password for the user pool.

## Reproduction Steps
1. We referred to the following sample code provided by AWS ht

[2020-08-24 11:32] tavisca-anjoshi commented on #168
Hi @ashishdhingra,

I found out that TOTP functionality is missing in Amazon.Extensions.CognitoAuthentication Version=1.0.4.
As I can see PR created for https://github.com/aws/aws-sdk-net-extensions-cognito/issues/55
PR:- https://github.com/aws/aws-sdk-net-extensions-cognito/pull/56.

After getting merge above PR to master, still, it will not solve the issue.

As we need to solve (https://github.c

[2020-08-24 18:15] ashishdhingra commented on #168
Hi @tavisca-anjoshi,

Good morning.

I think you are correct. The TOTP functionality is missing, there was another issue #48 reported earlier and it was advised at time that it would be implemented in later version. I would treat this as a feature request and discuss with the development team to add this to their backlog. I'm not sure how sooner it would be implemented, but would definitely bring

[2020-08-25 00:29] #167 closed

[2020-08-25 12:14] tavisca-anjoshi commented on #168
Alright. Thanks for the help.

[2020-08-26 20:37] iofluxdev1 commented on #144
Also running into this one.

.NET core 3.1 blazor server project.

`CognitoUser user = await _userManager.GetUserAsync(_signInManager.Context.User);

                // This is a hack to bypass this bug https://github.com/aws/aws-sdk-net-extensions-cognito/issues/24
                user.SessionTokens = new CognitoUserSession(_tokenProvider.IdToken, string.Empty, _tokenProvider.RefreshToken, DateTi

[2020-08-27 15:17] iofluxdev1 commented on #144
Upon further investigation I have found that after calling AuthFlowResponse response = await user.StartWithRefreshTokenAuthAsync(refreshRequest); that if you had a reference to the CognitoUser that the session refresh token value gets set to null. I suspect that if you set the Cognito user session refresh token again before calling RefreshSignInAsync with the user param that this will be resolved.

[2020-08-31 04:01] GodSpeedXI opened #169 "Can I Sign in with App1 and keep authorize state to use in the App2 in the same domain?"
## Can I Sign in with App1 and keep authorize state to use in the App2 in the same domain?

I want to to create App1 as the login and signup. and App2 as a service web app.
These app are deploy in the same cluster and domain.
So, how to make App2 can keep user identity from the App1?

### Environment

* Build Version: 1.0.5
* OS Info: Windows 10
* Build Environment: Visual Studio
* Targeted .NET P

[2020-08-31 16:40] ashishdhingra commented on #169
Hi @GodSpeedXI,

Thanks for posting guidance question.

You scenario appears to be a good candidate for single sign-on workflow. It is specific to ASP.NET and should not be dependent on ASP.NET Cognito Identity provider. The article should provide some guidance  [Share authentication cookies among ASP.NET apps](https://docs.microsoft.com/en-us/aspnet/core/security/cookie-sharing?view=aspnetcore-3.

[2020-09-01 20:46] ashishdhingra commented on #150
Hi @WajahatAliAbid,

Following code within the SDK could be helpful:

1.  Refer [Authenticating using a Refresh Token from a Previous Session](https://github.com/aws/aws-sdk-net-extensions-cognito/blob/53b8d465698ed6b1f0e810fb9fb59a1d4d35a4db/README.md#authenticating-using-a-refresh-token-from-a-previous-session) in in [aws-sdk-net-extensions-cognito](https://github.com/aws/aws-sdk-net-extensions-

[2020-09-02 08:34] #169 closed

[2020-09-02 18:55] ashishdhingra commented on #147
Hi @junaid-ahmed92,

I came across the useful article [ASP.NET Core with AWS Lambda and Cognito](https://criticalhittech.com/2019/02/19/asp-net-core-with-aws-lambda-and-cognito/) which might be useful for configuring Cognito Group based authorization in an ASP.NET Core application. It has a section **Groups and Policies** which provides the following details to add a custom policy.

_You can use [

[2020-09-02 18:58] ashishdhingra commented on #86
Hi @neil-rubens,

I came across the useful article [ASP.NET Core with AWS Lambda and Cognito](https://criticalhittech.com/2019/02/19/asp-net-core-with-aws-lambda-and-cognito/) which might be useful for configuring Cognito Group based authorization in an ASP.NET Core application. It has a section **Groups and Policies** which provides the following details to add a custom policy.

_You can use [Aut

[2020-09-02 19:08] ashishdhingra commented on #145
Hi @mikebama,

Good morning.

The TOTP functionality appears to be missing from CognitoSignInManager class and there is already a feature request #168 (There was another issue #48 reported earlier and it was advised at time that it would be implemented in later version). Here is what I see in the code for CognitoSignInManager class:

- [CheckPasswordSignInAsync](https://github.com/aws/aws-aspnet-c

[2020-09-02 21:52] ellismichaelarb commented on #147
@ashishdhingra We have many clients that we plan on using one User Pool for in order to enable Single Sign-On. If we use Cognito for authorization groups, then we end up with conflicting group names. We could use AppA_Admin and AppB_Admin, but that just seems too convoluted. Is there a better way to accomplish what we're trying to accomplish? Otherwise, we are thinking we'll just add authorization

[2020-09-02 21:58] mikebama commented on #145
Good Afternoon Ashish,Thanks for the updates.  

Sent from Yahoo Mail for iPhone

On Wednesday, September 2, 2020, 2:09 PM, Ashish Dhingra <notifications@github.com> wrote:

Hi @mikebama,

Good morning.

The TOTP functionality appears to be missing from CognitoSignInManager class and there is already a feature request #168 (There was another issue #48 reported earlier and it was advised at time th

[2020-09-03 02:26] neil-rubens commented on #86
Thanks @ashishdhingra

It seems that it will work; I haven't tried it yet; but it seems to work e.g. in this case: https://stackoverflow.com/a/63699403/2705777

[2020-09-03 02:26] #86 closed

[2020-09-03 16:34] ashishdhingra commented on #145
@mikebama If above guidance works for you, please confirm if this issue could be closed.

[2020-09-03 16:53] ashishdhingra commented on #147
@ellismichaelarb You can create multiple app clients in a user pool having groups. Not sure how it would fit to your scenario, but please refer the Cognito documentation for more details and give it a try.

[2020-09-03 16:54] ashishdhingra commented on #147
@junaid-ahmed92 Please review the guidance above and confirm if this issue could be closed.

Thanks,
Ashish

[2020-09-03 16:57] ashishdhingra commented on #101
Hi @jochencschmidt,

I came across the useful article [ASP.NET Core with AWS Lambda and Cognito](https://criticalhittech.com/2019/02/19/asp-net-core-with-aws-lambda-and-cognito/) which might be useful for configuring Cognito Group based authorization in an ASP.NET Core application. It has a section **Groups and Policies** which provides the following details to add a custom policy.

_You can use [

[2020-09-03 17:04] ashishdhingra commented on #137
Hi @andyfurniss4,

Good morning.

I came across this backlog issue and notice that @Fydar had already provided the input. Please confirm if this issue could be closed.

Thanks,
Ashish

[2020-09-03 17:12] ashishdhingra commented on #138
Hi @UrizielTSD,

Good morning.

I was going thorough a bunch of backlog issues and came across this one. Please let me know if input from @jlwhitfill works and if this issue could be closed.

Thanks,
Ashish

[2020-09-03 20:03] andyfurniss4 commented on #137
@ashishdhingra Yes, feel free to close. Thanks.

[2020-09-03 20:04] #137 closed

[2020-09-03 22:38] ashishdhingra commented on #139
Hi @kentbarber,

Good afternoon.

Based on input by @ehs035, I was able to get the Samples solution working by providing the
following AWS settings in `appsettings.Development.json`:

[code]

Please confirm if it is working for you and if this issue could be closed.

Thanks,
Ashish

[2020-09-04 10:50] GodSpeedXI opened #170 "Login session handling"
I have created scenario that a user login on the office computer with checking remember when login
and then forgot to logout after work.
I want to design a page the user can login from another computer to see the active session and delete
before expired.

I need to know this lib is capable to do this and show me a sample.

Thanks

### Environment

* Build Version: Amazon.AspNetCore.Identity.Cognit

[2020-09-04 17:11] ashishdhingra commented on #170
Hi @GodSpeedXI,

Good morning.

Thanks for posting the guidance question. I'm not sure if Amazon Cognito provides this functionality out of the box. Cognito is primarily used as an identity provider for authenticating users. This appears to be a custom scenario. However, you may have a look at the [IAmazonCognitoIdentityProvider.GlobalSignOut (GlobalSignOutRequest)](https://docs.aws.amazon.com/sdk

[2020-09-05 16:07] MarneeDear commented on #67
I had the same problem at one time. Luckily this was in the early stage of development.

I had to change the User Pool attributes to this:

![image](https://user-images.githubusercontent.com/5660628/92308845-87edf900-ef55-11ea-93ff-00d1d1c39697.png)

When they need to change their email I send a verification code to the new email address and then only update the email address if they have confirme

[2020-09-07 08:03] GodSpeedXI commented on #170
I see in the cognito user pool in each user section there is a list of devices.
![DeviceSection](https://user-images.githubusercontent.com/34591325/92362407-29be4300-f11a-11ea-88ff-6a7a08ff82f3.PNG)

When user sign-in on pc browser , I want cognito to remember the device when the session is active.
How I could  do this approach?

[2020-09-08 23:04] ashishdhingra commented on #170
Hi @GodSpeedXI,

Please refer the article [Specifying User Pool Device Tracking Settings](https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-device-tracking.html) and let me know if it helps.

Thanks,
Ashish

[2020-09-09 00:33] #158 closed

[2020-09-09 00:33] #160 closed

[2020-09-09 23:24] ashishdhingra commented on #155
Hi @Galluz75,

Good evening.

I tried using the [sample project](https://github.com/aws/aws-aspnet-cognito-identity-provider/tree/master/samples) in [aws-aspnet-cognito-identity-provider](https://github.com/aws/aws-aspnet-cognito-identity-provider) repository along with option 2 above while debugging locally using Visual Studio 2019 and was successfully able to create user using the Register optio

[2020-09-10 16:57] alexisatkinson opened #171 "The sample app has a forgot password link in the Login page, but there is no ForgotPassword page"
See the line of code at https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/e54f03d7854e17b05434ed34a3c67fa992ffe45c/samples/Samples/Areas/Identity/Pages/Account/Login.cshtml#L39

There is no ForgotPassword page, so it just results in a page reload.

Is it possible to advice how to handle forgot passwords?

[2020-09-10 18:52] ashishdhingra commented on #153
Hi @mikebama,

Good morning.

I was going through the issue backlog and came across this guidance question.

While there is a way to use custom login page in an ASP.NET web application with Cognito (please check the [Sample solution](https://github.com/aws/aws-aspnet-cognito-identity-provider/tree/master/samples) in [aws-aspnet-cognito-identity-provider](https://github.com/aws/aws-aspnet-cognito-i

[2020-09-10 20:39] alexisatkinson opened #172 "The Areas/Identity/Services folder includes in Samples.csproj does not exist"
https://github.com/aws/aws-aspnet-cognito-identity-provider/blob/e54f03d7854e17b05434ed34a3c67fa992ffe45c/samples/Samples/Samples.csproj#L16

It looks like this just needs to be removed from the project file.

[2020-09-10 21:16] ashishdhingra commented on #172
Hi @alexisatkinson,

Good afternoon.

Thanks for reporting the issue. I'm not sure on how this impacts the sample solution, but since this is not a bug in SDK, I'm not sure on the timeline when this could be fixed. However, I can definitely have developer look at it and implement this simple change.

Thanks,
Ashish

[2020-09-10 21:50] NGL321 commented on #163
PR #166 should enable this feature. I will leave this pending PR review

[2020-09-10 22:37] ashishdhingra commented on #171
Hi @alexisatkinson,

Good afternoon.

Thanks for posting the guidance question. Please refer the following links to get some idea on how to implement Forgot Password functionality:

1. [IAmazonCognitoIdentityProvider.ForgotPassword(ForgotPasswordRequest)](https://docs.aws.amazon.com/sdkfornet/v3/apidocs/items/CognitoIdentityProvider/MICognitoIdentityProviderForgotPasswordForgotPasswordRequest.html

[2020-09-10 23:14] alexisatkinson commented on #171
Hi @ashishdhingra,

I guess the issue is that the current sample does not provide a way to reset passwords and the 'Forgotten Password' functionality in the sample is broken as it links to a page that does not exist.

I'm just getting my head around this, but it looks to me like the samples are missing a couple of key pieces:

1) A ForgotPassword.cshtml file (so the link the login actually goes so

[2020-09-10 23:28] ashishdhingra commented on #171
Hi @alexisatkinson,

Sure, feel free to submit a pull request with the tested code changes. I will change this issue back to bug so that development team can prioritize it.

Thanks,
Ashish

[2020-09-11 00:33] #156 closed

[2020-09-11 21:50] ashishdhingra commented on #134
Hi @slackjawedyokel,

Good afternoon.

I was going through the issue backlog and came across this guidance question. Following articles might be helpful in setting up Google as identity provider using Cognito:

- [https://developerhandbook.com/aws/how-to-use-aws-cognito-with-net-core/](https://developerhandbook.com/aws/how-to-use-aws-cognito-with-net-core/)

- [How do I set up Google as a federate

[2020-09-11 22:28] ashishdhingra commented on #106
Hi @ghendo,

Good afternoon.

I was going through the issue backlog and came across this one. Please let me know if you need further guidance or if this issue could be closed.

Thanks,
Ashish

[2020-09-12 20:47] fredericof opened #175 "Stuck in forgot password flow"
## Description
Hello,
I'm currently developing the forgot password flow with Cognito extension for ASP.NET and I'm stuck with the step when I receive the confirmation code on my email.

## Reproduction Steps
Starting by calling ForgotPassword method that sends to my email a confirmation code, but when I set confirmation code at the ConfirmForgotPassword method, it throws ExpiredCodeException. Anot

[2020-09-13 22:59] MarneeDear commented on #106
I had this problem too. I had to call `signInManager.SignInAsync(curUser, true)` before `userManager.IsEmailConfirmedAsync(curUser)`

[2020-09-14 09:40] iofluxdev1 opened #176 "Support for AWSSDK.Core 3.5?"
## Description
When referencing any package that has AWSSDK.Core 3.5 as a dependency then we get the following issue:

Detected package version outside of dependency constraint: XXX requires AWSSDK.Core (>= 3.3.103.2 && < 3.4.0) but version AWSSDK.Core 3.5.1.5 was resolved.

## Reproduction Steps
Install any AWS SDK library version that references AWSSDK.Core 3.5+ alongside this one.

### Logs

Se

[2020-09-14 23:55] ashishdhingra commented on #70
Hi @andyfurniss4,

Good afternoon.

I was going through the issue backlog and came across this issue. There was a similar issue reported in https://github.com/aws-amplify/amplify-js repository and someone from Cognito team provided a workaround or reasons this is an issue. Please refer https://github.com/aws-amplify/amplify-js/issues/987#issuecomment-531025897. This issue appears to be as a result

[2020-09-14 23:57] ashishdhingra commented on #67
Hi @jlwhitfill,

Good afternoon.

I was going through the issue backlog and came across this issue. There was a similar issue reported in https://github.com/aws-amplify/amplify-js repository and someone from Cognito team provided a workaround or reasons this is an issue. Please refer https://github.com/aws-amplify/amplify-js/issues/987#issuecomment-531025897. This issue appears to be as a result o

[2020-09-16 12:49] MarneeDear commented on #106
In my setup, if I have my User Pool configured liked this:
![image](https://user-images.githubusercontent.com/5660628/93339243-2f81eb80-f7e0-11ea-976c-bcd749076d56.png)

And the user fails to verify email when changing an email. They cannot do it later because they cannot sign in. And they need to be signed in in order to resend an email confirmation. `signInManager.SignInAsync(curUser, true)` doe

[2020-09-17 17:43] MarneeDear commented on #122
@kwood0912 I tried your approach with the sign in, but it seems if you don't use PasswordSignInAsync, the user isn't really signed in and doing things like changing the email address and trying to send a confirmation code don't work. You get an error message about the member being null. Have you seen this problem?

[2020-09-17 19:03] MarneeDear opened #177 "How to override authentication identity expiration?"
I would like to set the authentication expiration to 15 minutes instead of the 1 hour default. I have tried using this:

[code]

But when a user signs in like that they can't change their email. When I try to send a confirmation token I get this error:

 `[Failed to get the Cognito User attribute verification code : 1 validation error detected: Value at 'accessToken' failed to satisfy constraint:

[2020-09-17 19:35] MarneeDear commented on #177
Related issue
https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/50

[2020-09-18 19:27] ashishdhingra commented on #177
Hi @MarneeDear,

I'm not sure if this helps, but as per Microsoft documentation for [SlidingExpiration](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.cookieauthenticationoptions.slidingexpiration?view=aspnetcore-1.1&viewFallbackFrom=aspnetcore-3.1), when it is set to true, it instructs the middleware to re-issue a new cookie with a new expiration time any time it process

[2020-09-18 21:06] ashishdhingra commented on #175
Hi @fredericof,

I'm not sure if it helps, the article [User Authentication For Web And iOS Apps With AWS Cognito (Part 2)](https://www.smashingmagazine.com/2017/09/user-authentication-web-ios-apps-aws-cognito-part-2/) gives a good overview of the Forgot Password workflow. Please let me know if it helps.

Thanks,
Ashish

[2020-09-21 23:18] ashishdhingra commented on #115
Hi @Talento90,

I don't think the Singleton wrapper around Cognito should be an issue. However, if using temporary credentials, you would need to handle scenario where credentials expire and refresh is needed. I'm not sure if this is your scenario and if it could be causing the issue.

Please let me know if this issue could be closed if this is no longer an issue.

Thanks,
Ashish

[2020-09-21 23:39] ashishdhingra commented on #106
Hi @MarneeDear,

I didn't got a chance to have a look at it yet. Please confirm if phone number doesn't work for authentication.

Thanks,
Ashish

[2020-09-21 23:45] MarneeDear commented on #106
I will try. We do plan on using phone number for sign on but not at the current time.

[2020-09-21 23:47] MarneeDear commented on #177
Thank you.

I do have sliding expiration set to true. I do want it to be true because I only want the auth cookies to invalidate after 15 minutes of idle.

My steps are like this:

1. sign on
2. Wait 20 minutes
3. Auth cookies are considered valid and I am not redirected to the sign on page

I will try with sliding expiration set to false and see what happens

[2020-09-21 23:58] ashishdhingra commented on #106
@MarneeDear Thanks for your response. I think the possibility to use either of username and phone number was included so that change in email does not prevent user from logging in. Please also refer https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/67#issuecomment-692379506 where similar issue was reported. Feel free to open new issue in case there is any problem using phone numbe

[2020-09-22 01:26] MarneeDear commented on #106
I think I understand. Please feel free to close.

[2020-09-22 01:35] #106 closed

[2020-09-23 00:34] #150 closed

[2020-09-24 08:22] #115 closed

[2020-09-24 08:41] Galluz75 commented on #155
Hello Ashish,
thank you very much for the support, at the moment I am busy on other activity but I will test again using your suggestion as soon as possible, I will let you know the result.
Kind regards
Fabio

[2020-09-26 00:34] #101 closed

[2020-09-26 00:34] #138 closed

[2020-09-26 00:34] #139 closed

[2020-09-26 00:34] #145 closed

[2020-09-26 00:34] #147 closed

[2020-09-30 00:36] #170 closed

[2020-10-01 17:40] ashishdhingra commented on #144
Hi @jlwhitfill,

Good morning.

Please let me know if this is still an issue or if input provided by @iofluxdev1 helped.

Thanks,
Ashish

[2020-10-02 00:35] #153 closed

[2020-10-02 17:50] jlwhitfill commented on #144
@ashishdhingra this is still an issue, his issue is slightly different from mine and he got the same error.  I updated to the latest version and it still fails.  Im updating user parameters like name and such and then saving it.  If I immediately try to save it again fails because the refresh token has been set to null after the first update, then any subsequent ones fail because its null.  This i

[2020-10-02 17:57] jlwhitfill commented on #67
They arent attempting to update an email address in my edge case.  They way I have it setup is that the username is the email address, I dont want them logging in using anything else (the setting provided in the referred comment you provided are my current settings).  If they create an account and miss their confirmation email or never get it for some reason (or it expires), then they can never co

[2020-10-02 18:58] MarneeDear commented on #67
In my system, I check the status of the user when they try to sign-on. You can check to see if they are confirmed. If they are unconfirmed then the systems re-sends the confirmation and redirects user to the confirmation page.

There are two ways I know of to check status. This is how I do it:

[code]

There is also a function for checking confirmed status.
[code]

I hope this helps.

[2020-10-02 23:26] jlwhitfill commented on #67
So when you perform the check, if they are unconfirmed the system
automatically resends it?

On Fri, Oct 2, 2020, 11:58 AM Marnee Dearman (KG7SIO) <
notifications@github.com> wrote:

[2020-10-02 23:28] MarneeDear commented on #67
I have to call this method first. That resends the code.

[code]

[2020-10-03 00:36] #134 closed

[2020-10-05 17:14] jlwhitfill commented on #67
ahh that was added since I last checked, as it didnt use to work before.
Thank you!

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

[2020-10-05 18:23] jlwhitfill commented on #67
Actually in looking at this again for the first time in a while, I have noticed that what @MarneeDear gave me is not the problem I want to solve.  The problem is that when the user is logged in and they change their email, they now are in a CONFIRMED state, with an unverified email address.  When you change the email address it sends a code, but if you logout and come back later and lose that code

[2020-10-06 00:37] #70 closed

[2020-10-08 07:16] Gidmark-wowgroup opened #179 "Forgot password on an unconfirmed doesn't throw UserNotConfirmedException"
## Description
When running the forgot password flow on an unconfirmed user (Account Status | Enabled / UNCONFIRMED) I expect to get a UserNotConfirmedException, but at the moment everything returns "Ok", but it doesn't send a confirmation code.

## Reproduction Steps
1. Sign up a user in a Cognito user pool
2. Call ICognitoIdentityProvider's ForgotPasswordAsync with the username from step 1

###

[2020-10-08 20:26] ashishdhingra commented on #67
Hi @jlwhitfill,

I ran some tests using the sample solution provided in the repository. Here is my use case:

1. Registered a new user.
2. Confirmation code is sent during registration.
3. Confirmed user after entering confirmation code.
4. Changed user's email by using `CognitoUserManager.SetEmailAsync(user, "<new email>")`.
5. Email confirmation code is sent to new email.
6. Logged out of applic

[2020-10-08 23:31] ashishdhingra commented on #144
@jlwhitfill Could you please share a sample code snippet which I could use to troubleshoot the issue?

Thanks,
Ashish

[2020-10-09 19:00] ashishdhingra commented on #144
Repro Steps:
1. Used `Amazon.AspNetCore.Identity.Cognito` version `0.9.0.11` using the [Sample Repo Project](https://github.com/aws/aws-aspnet-cognito-identity-provider/tree/master/samples).

2. Executed the code below after fetching user:
[code]
3. Examined the RefreshToken while debugging after executing the `_signinManager.RefreshSignInAsync(user)` call above.

**RESULT:** Refresh token is reta

[2020-10-10 00:38] #175 closed

[2020-10-12 22:05] ashishdhingra commented on #122
Hi @ghendo,

Please confirm if solution provided by @kwood0912 worked for you and if this issue could be closed.

Thanks,
Ashish

[2020-10-12 22:53] jlwhitfill commented on #144
Let me get it all together for you.  I just got back from a vacation and
missed this, will be some time tomorrow.  Thanks for looking at it.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail

[2020-10-13 00:28] ihiresolutions commented on #136
@klaytaybai Hi. I apologize for rebooting this issue after such a long time. Turns out I have a similar issue. I got the ClientId and UserPool Id from the Cognito Console and am hard-coding it to test, yet the error indicates that the user pool client does not exist. Is there a setting that I need to check in the Cognito console? My code looks almost identical to the above. I am able to sign-up a

[2020-10-13 00:39] #177 closed

[2020-10-13 01:14] ihiresolutions commented on #136
Hi @klaytaybai - I ended up using the Extensions Nuget package and code from here: https://github.com/aws-samples/aws-cognito-dot-net-desktop-app/blob/master/CognitoHelper.cs

I now have my code working. I did not need to change much, however the Amazon.Extensions.CognitoAuthentication Version 1.0.4 package seems to work quite nicely

[2020-10-13 15:19] jlwhitfill commented on #144
So the issue occurs in your second scenario

Adding claims after calling ```_signinManager.RefreshSignInAsync(user)``` for the first time, followed by one more ```_signinManager.RefreshSignInAsync(user)``` call.  For example if you do THIS, you get the error

[code]

Im always calling **RefreshSignInAsync** after every update.  The first time it works, the second time it fails and errors out with

[2020-10-16 00:40] #155 closed

[2020-10-27 01:54] ghendo commented on #122
No this problem is not solved

[2020-10-31 00:24] #67 closed

[2020-11-03 12:37] Gidmark-wowgroup commented on #179
Keep open

[2020-11-05 00:41] ashishdhingra commented on #135
Hi @Heinicke,

I do not see any movement on this issue for quite long. Please let me know if this is still an issue (if yes, please provide the sample code) or if this issue could be closed.

Thanks,
Ashish

[2020-11-05 01:08] Heinicke commented on #135
Its not applicable but considering I asked another question....and never got a response not sure why you would assume it can be closed. I have since went with a different solution

[2020-11-05 01:08] #135 closed

[2020-11-05 01:08] ashishdhingra commented on #136
Hi @alex-bello,

Please review the https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/136#issuecomment-707425089 and let me know if it resolves your issue.

Thanks,
Ashish

[2020-11-13 01:51] lqsantos commented on #136
Hi @ashishdhingra I had the same issue with Version 3.5.0.26.
After downgraded to version 1.0.4  it works perfectly

[2020-11-15 03:17] Mazekiller opened #180 "Can't install latest version of nuget package: Amazon.Extensions.CognitoAuthentication"
## The Question
I am following this [guide](https://github.com/aws/aws-aspnet-cognito-identity-provider). I want to install the latest version of nuget package Amazon.Extensions.CognitoAuthentication (latest stable is 2.0.0)

But I get this error.

![image](https://user-images.githubusercontent.com/16949121/99162047-72681e80-26be-11eb-9c63-ab01f3c179b6.png)

I can actually install the nuget packag

[2020-11-15 03:39] Mazekiller commented on #176
I am having the same issue. I find it bad that in over a month nobody from AWS has responded.

[2020-11-15 22:26] genifycom opened #181 "Cannot use the Cognito packages indicated"
Loading the Cognito packages indicated for this project gives:

Restoring packages for C:\Dev\SourceControl\Development\LambdaFunctions\TestAdmin\TestAdmin.csproj...
NU1107: Version conflict detected for AWSSDK.Core. Install/reference AWSSDK.Core 3.5.1 directly to project TestAdmin to resolve this issue.
 TestAdmin -> Amazon.Extensions.CognitoAuthentication 2.0.0 -> AWSSDK.CognitoIdentityProvider

[2020-11-15 22:28] genifycom commented on #172
Further, the Samples use DotNet 2.1 which is outdated.

[2020-11-16 17:25] ashishdhingra commented on #180
Duplicate of https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/181

[2020-11-16 17:25] ashishdhingra commented on #181
Duplicate of https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/180

[2020-11-17 04:29] genifycom opened #182 "ChangePasswordAsync fails for certain User Pools"
I have been testing with Amazon.AspNetCore.Identity.Cognito and Amazon.Extensions.CognitoAuthentication in a DotNet Core 3.1 Lambda Web Application.

If I create a Cognito User Pool using "Username - Users can use a username and optionally multiple alternatives to sign up and sign in." then the ChangePasswordAsync succeeds in changing the password.

However, if I choose "Email address or phone num

[2020-11-17 17:08] ashishdhingra commented on #182
Hi @genifycom,

Good morning.

Thanks for reporting the issue.

In order to effectively reproduce this issue, please share the following:
- Cognito User Pool settings in AWS Console.
- Sample code solution, if possible.
- Does this work if you execute the flow within Console application or is it the issue from within Lambda only?
- Lambda web application settings.

In the meanwhile, I will try to

[2020-11-18 17:02] ashishdhingra commented on #181
#176

[2020-11-18 17:03] ashishdhingra commented on #180
#176

[2020-11-18 19:51] ashishdhingra commented on #182
Hi @genifycom,

Good morning.

I have tried to reproduce the issue reported by you using the sample solution provided in the repository https://github.com/aws/aws-aspnet-cognito-identity-provider/tree/master/samples. Using (upgrading) the mentioned NuGet package versions, the ChangePassword scenario works fine. The user pool has been configured with:
- **Email address or phone number** to sign in

[2020-11-19 15:46] genifycom commented on #182
Hi Ashish,

I have the sample project created and tested and it continues to get a password mismatch.

How can I dump the Cognito User Pool settings? Screen shots of each of the pages?

Also the project obviously contains my keys so how do I get this to you in a testable state, just xxx out the private information?

Please advise.

Thanks<
Dave

[2020-11-19 17:05] ashishdhingra commented on #182
Hi @genifycom,

You may want to exclude the sensitive information from your code, including keys, and share the minimal code to reproduce the issue. For Cognito user pool settings, you may list down the high level information (screenshots are preferable though).

Thanks,
Ashish

[2020-11-19 17:39] genifycom commented on #182
Sure. Starting with the User Pool. I tried to pick the minimal requirements just using email.

<img width="919" alt="Cognito0" src="https://user-images.githubusercontent.com/24735929/99702787-7c3da900-2a53-11eb-93de-8641274a49af.PNG">
<img width="799" alt="Cognito1" src="https://user-images.githubusercontent.com/24735929/99702796-7ea00300-2a53-11eb-97f3-45ef23a401b4.PNG">
<img width="863" alt="Cog

[2020-11-19 17:52] genifycom commented on #182
Then I create a user with:

aws cognito-idp admin-create-user --user-pool-id <poolid> --username <myemail> --user-attributes Name=given_name,Value=XXX Name=family_name,Value=YYY Name=email,Value=<myemail> --temporary-password Test1_Test2

Running the app, the initial Login using email and the temporary password works fine and I see

<img width="695" alt="Initial Login" src="https://user-images.git